[2020-02-01 17:19] aphearin commented on #210
Once this is resolved, do y'all have a brute force pair-counter test in the unit-testing to protect against regression? I find it's really hard to fool those kind of tests. Let me know in case that would be useful for me to pass along your way.

[2020-02-01 20:13] manodeep commented on #210
@lgarrison That is definitely what is happening here. Consider zmax = Lbox/2, and we have 2 bins. In that case, the top half of `iz=0` can be within `zmax` of the bottom half of the `iz=1`, and the bottom half of the `iz=0` can be within the top half of `iz=1` cell *after periodic wrapping*. However, we will only associate (iz=0, iz=1) once and without periodic wrapping. Essentially the duplicate

[2020-02-01 20:19] lgarrison commented on #210
@manodeep Yes, I think since we happen to be making a release right now anyways we should revert this change while we consider the best way to fix this.  Let's double-check with @beckermr that it fixes his problem before releasing!

[2020-02-01 20:36] manodeep commented on #210
@lgarrison If we revert the change, then Corrfunc will report an error for `(nx, ny, nzbins < 3)` and @beckermr will not be able to run this example

[2020-02-03 02:18] manodeep commented on #208
Thanks @olebole. We will make the release shortly

[2020-02-03 03:31] manodeep commented on #208
@olebole `Corrfunc v2.3.3` is now out on PyPI - please let us know if this issue is resolved

[2020-02-03 08:11] olebole commented on #208
Looks good to me -- thank you so much for your efforts! Everything is fine now.

[2020-02-03 08:11] #208 closed

[2020-02-03 10:48] manodeep commented on #192
This is not fixed - see #210

[2020-02-03 14:23] julianakwan opened #212 "Trouble installing Corrfunc 2.3.3"
## General information

- Corrfunc version: 2.3.3
- platform: Linux x86_64
- installation method (pip/source/other?): source

## Issue description
The theory python library doesn't build.

### Expected behavior
In my .local/lib/python2.7/site-packages/Corrfunc, I would expect a directory called theory, containing wp.py, DD.py etc.

### Actual behavior
When I type 'make' in the Corrfunc directory:

[2020-02-03 14:26] julianakwan commented on #212
Also "mocks" didn't get installed either.

[2020-02-03 15:22] lgarrison commented on #212
Interesting, it failed in our Travis build too, but didn't error out: https://travis-ci.org/manodeep/Corrfunc/jobs/645261386#L1330-L1333

The problem is in this line where we build `PYTHON_LIBS`: https://github.com/manodeep/Corrfunc/blob/master/common.mk#L450

`sys.abiflags` doesn't exist in Python 2.7.

There's an interesting discussion here about how `abiflags` may not be relevant anymore, and i

[2020-02-03 20:36] manodeep opened #213 "Travis failure should break the build"
## General information

- Corrfunc version: 2.3.3
- platform: osx/linux
- installation method (pip/source/other?):NA

## Issue description
An intermediate step in python setup.py install fails, but the overall build still appears to succeed

### Expected behaviour
If any stage of the Travis build fails, the entire build should terminate and return a failed status

### Actual behaviour
Travis does

[2020-02-03 21:16] manodeep commented on #212
@julianakwan Thanks for the report - we should be able to fix this issue shortly.

@lgarrison Yeah I don't see any references for `PYTHON_LIBS` either. Might just comment that out for the time being.

[2020-02-03 21:34] manodeep commented on #212
@lgarrison Maybe this is as good a time as any to discuss the timeline for dropping python2 support. Since supporting python2 comes at no additional cost (for now), should we simply retain the compatibility?

[2020-02-03 21:39] manodeep commented on #212
@julianakwan I can see that the error occurs but the installation proceeds as per normal. I can also import Corrfunc, and run the tests. Can you please try the following under your python2 environment:
[code]

[2020-02-03 21:41] lgarrison commented on #212
Sure, no reason to strip it out until it starts to impose a maintenance
cost, I think.  In the short term, stripping out the support is more work
than keeping it!

On Mon, Feb 3, 2020 at 4:34 PM Manodeep Sinha <notifications@github.com>
wrote:

--
Lehman Garrison <lgarrison@flatironinstitute.org>
Flatiron Research Fellow, Cosmology X Data Science Group
Center for Computational Astrophysics, Flatir

[2020-02-03 22:30] julianakwan commented on #212
Hi Manodeep,

The install did proceed, but whenever I try to import Corrfunc, I get:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/homes/jkwan/.local/lib/python2.7/site-packages/Corrfunc/__init__.py", line 25, in <module>
    from . import theory
ImportError: cannot import name theory

I think this is because the theory directory is missing from .local/lib/pyth

[2020-02-03 22:51] manodeep commented on #212
I tried on the local supercomputer with python2 and I still can't reproduce the issue. @lgarrison Can you please check?

@julianakwan In the meantime, will you please navigate to the `/homes/jkwan/.local/lib/python2.7/site-packages/` directory and delete any directories containing `*Corrfunc*`, and any `theory`, `mocks` directories. After that, will you please go back to the source directory and i

[2020-02-05 12:09] julianakwan commented on #212
Here is the install log. I don’t have pip and I can’t install it on the system so I don’t think it went well…

Thanks!
Juliana

On Feb 3, 2020, at 10:51 PM, Manodeep Sinha <notifications@github.com<mailto:notifications@github.com>> wrote:

I tried on the local supercomputer with python2 and I still can't reproduce the issue. @lgarrison<https://hes32-ctp.trendmicro.com/wis/clicktime/v1/query?url=ht

[2020-02-05 15:28] lgarrison commented on #212
I don't think the log made it; you might have to attach it to your comment in GitHub rather than send it as an email attachment.  But since you don't have pip, could you actually run the following instead:
[code]

[2020-02-05 17:14] julianakwan commented on #212
Here it is again, this time using:
python setup.py install --user --verbose &> corrfunc_install.log

[2020-02-05 17:15] julianakwan commented on #212
[corrfunc_install.log](https://github.com/manodeep/Corrfunc/files/4161015/corrfunc_install.log)

[2020-02-05 17:18] julianakwan commented on #212
Also in /homes/jkwan/.local/lib/python2.7/site-packages/  I have 4 corrfunc related items:

Corrfunc
Corrfunc-2.3.3-py2.7.egg-info
theory
mocks

But in the theory and mocks directories there is only a file called 'tests' no *.py files

[2020-02-05 21:08] manodeep commented on #212
@julianakwan Thanks for the log. The theory and mocks directories should contain a `data` sub-directory. From the install log, it looks like most stuff was copied across correctly, except for the `theory` and `mocks` directories under `site-packages/Corrfunc/`. @julianakwan Will you please report back the results from `find /homes/jkwan/.local/lib/python2.7/site-packages/Corrfunc/ -name *.py`? Als

[2020-02-05 21:56] julianakwan commented on #212
This is what I get from using find:

/homes/jkwan/.local/lib/python2.7/site-packages/Corrfunc/call_correlation_functions.py
/homes/jkwan/.local/lib/python2.7/site-packages/Corrfunc/call_correlation_functions_mocks.py
/homes/jkwan/.local/lib/python2.7/site-packages/Corrfunc/__init__.py
/homes/jkwan/.local/lib/python2.7/site-packages/Corrfunc/tests.py
/homes/jkwan/.local/lib/python2.7/site-packages/

[2020-02-07 17:36] lgarrison commented on #212
Hmm, I cannot reproduce yet either.  I used Python 2 inside a conda environment.  pip and setup.py both worked.

[2020-02-07 20:48] manodeep commented on #212
@julianakwan Will you please try to install the previous version Corrfunc (v2.3.2) and see if that installs successfully? That way, we will at least have an idea as to what might be the root cause.

If v2.3.2 does not install correctly either, will you please try progressively earlier versions until you get one that installs correctly.

Thanks for your patience - hopefully we can get to the bottom

[2020-02-08 04:53] manodeep opened #214 "Docs fail to build on travis"
## General information

- Corrfunc version: 2.3.3
- platform: linux
- installation method (pip/source/other?): source

## Issue description
The cron job on Travis failed when trying to build the docs. Turns out this is because sphinx is distributed via `pip` rather than `conda`

[2020-02-08 04:59] manodeep commented on #213
That specific issue was a warning, but will be fixed nonetheless in #215

[2020-02-10 14:20] julianakwan commented on #212
I can go back to 2.3.1 successfully.

In the meantime, I've just been copying over the theory and mocks directories to my python path. That seems to work also.

[2020-02-10 23:54] manodeep commented on #212
@julianakwan This will take further digging. What is your python version?

[2020-02-11 18:53] julianakwan commented on #212
It is Python 2.7.15

[2020-02-11 21:04] manodeep commented on #212
Hmm that python version should come with `pip`. What happens if you try `python -m pip install -e .` ?

[2020-02-11 23:17] julianakwan commented on #212
I get:
[jkwan@usernode ~]$ python -m pip install -e .
DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7. More details about Python 2 support in pip, can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-suppo

[2020-02-11 23:19] manodeep commented on #212
@julianakwan My apologies - please run that command at the Corrfunc root directory

[2020-02-12 11:27] julianakwan commented on #212
Oh sorry!

Here it is again:
[jkwan@usernode ~/Corrfunc]$ python -m pip install -e .
DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7. More details about Python 2 support in pip, can be found at https://pip.pypa.io/en/latest/development/

[2020-02-12 20:29] manodeep commented on #214
Fixed by #215 by a combination of fixes to sphinx installation and installing Corrfunc in editable mode

[2020-02-12 20:29] #214 closed

[2020-02-12 20:31] manodeep commented on #213
Fixed the missing abiflags in py2 in #215

[2020-02-12 20:31] #213 closed

[2020-02-12 20:37] manodeep commented on #212
Ohh good - you *do* have `pip` but the install appears to be missing `setuptools`. Can you please install `setuptools` with:
[code]

(complete instructions are [here](https://pypi.org/project/setuptools/3.0/#unix-wget)).

[2020-02-12 20:48] lgarrison commented on #212
@manodeep Does "pip install setuptools" not work?  I tried uninstalling
setuptools then installing it from pip, seemed to work.  In other words, it
does not appear that setuptools is required to install setuptools!

On Wed, Feb 12, 2020 at 3:37 PM Manodeep Sinha <notifications@github.com>
wrote:

--
Lehman Garrison <lgarrison@flatironinstitute.org>
Flatiron Research Fellow, Cosmology X Data Scienc

[2020-02-12 20:59] manodeep commented on #212
Those were the instructions on the setuptools PyPI page, but upon further checking I see that those were for setuptools in 2014!

The latest version does not support py2 - can't seem to locate a version that does. Perhaps `distutils`?

I am also surprised that `setuptools` is causing an `ImportError` -- the import at the top of setup.py is protected and falls back to distutils. @lgarrison Do you t

[2020-02-12 21:00] manodeep commented on #212
All of this trouble with `python2` really makes me think that we should drop `python2` support sometime in the next year (after a major release).

[2020-02-12 21:04] lgarrison commented on #212
Ah, maybe so!  I haven't looked at the logs in detail, though.

On Wed, Feb 12, 2020 at 3:59 PM Manodeep Sinha <notifications@github.com>
wrote:

--
Lehman Garrison <lgarrison@flatironinstitute.org>
Flatiron Research Fellow, Cosmology X Data Science Group
Center for Computational Astrophysics, Flatiron Institute
lgarrison.github.io

[2020-02-26 08:06] kakirastern commented on #97
Hi @manodeep I would like to try out this issue, to get myself familiar with this repo

[2020-02-26 12:30] kakirastern commented on #97
But first of all due to the date of the original post (from _**2016**_), I would like to check if this is still an issue.

**Some background**: (I have been successful in installing the software to my MacBook with clang8 I installed after purchasing the laptop, and have tested the software on it, so no issue there.) As an aside, I am looking for an issue to prepare me for the n-way matcher idea fo

[2020-02-28 01:53] manodeep commented on #97
Hi @kakirastern - sure thing - please go ahead. I would recommend creating one for the `Corrfunc/mocks/DDtheta_mocks` to get yourself familiar with calculations with on-sky angular separations.

[2020-02-28 01:55] manodeep commented on #97
CC @parejkoj @bsipocz

[2020-02-28 12:11] kakirastern commented on #97
Thanks @manodeep! I will begin work on the issue this weekend.

[2020-03-01 18:39] rainwoodman commented on #194
On Mon, Dec 16, 2019 at 3:04 PM Manodeep Sinha <notifications@github.com>
wrote:

But the caller can decide to drop it with [:-1] --not exactly a huge pain.
numpy's histogram functions also put the out of range samples to these
extra bins, so an acute user shouldn't be too surprised.

—

[2020-03-20 16:24] dstndstn opened #217 "Build failure - related to avx512?"
## General information

- Corrfunc version: 2.3.3 or master
- platform: Linux
- installation method (pip/source/other?): pip or make

## Issue description

Compile error

### Expected behavior

### Actual behavior

### What have you tried so far?

[code]

System information:

[code]

[2020-03-20 16:29] dstndstn commented on #217
Oh, but we do have gcc v9 on this machine, and that seems to work.

[2020-03-20 16:30] lgarrison commented on #217
Thanks for the report!  Glad you have a workaround, but we should get gcc 5 to work anyway.  I don't have a gcc 5 environment immediately available, but let me see if I can drum one up...  Feel free to leave the issue open in the meantime.

[2020-03-20 16:34] dstndstn commented on #217
For the record,

$ gcc --version
gcc (Ubuntu 9.2.1-17ubuntu1~16.04) 9.2.1 20191102
$ pip install --no-cache-dir Corrfunc

succeeds.

[2020-03-20 16:35] dstndstn commented on #217
Or update the docs to note this requirement :)
Thanks!

[2020-03-20 16:41] lgarrison commented on #217
Probably related to #183

[2020-03-20 16:54] lgarrison commented on #217
@dstndstn Could you share the output of `gcc -march=native -dM -E - < /dev/null | grep AVX512` with your gcc 5 compiler?

My best guess is that the CPU supports AVX512VL but not the gcc 5 compiler, so we're falling back to the AVX2 version of `AVX512_BLEND_INTS_WITH_MASK`.  But when we do so, we're trying to use a non-immediate mask operand, which, according to that compiler error, is unsupported.

[2020-03-20 17:06] dstndstn commented on #217
[code]

[2020-03-20 17:15] lgarrison commented on #217
Thanks.  So indeed, despite the CPU (and supposedly the compiler??) supporting AVX512VL, the compiler is not trying to use it.

@manodeep Maybe there's a way to detect this scenario manually and pass `-mavx512vl` to the compiler in addition to `-march=native`.  But regardless, I think the AVX2 int blend fallback will not work as written, because it uses non-immediate operands.  So we may need to r

[2020-03-21 04:12] manodeep commented on #217
Interesting! Looks like both `gcc5.5.0` and `gcc6.4.0` do not enable AVX512VL with `-march=native`

[code]

@dstndstn If you add `CFLAGS=-mavx512vl` at the very top of `common.mk`, does the code then compile with `gcc5.5`?

@lgarrison Perhaps we should print out an info message warning users on AVX512-systems with `gcc < 7.3`.

[2020-03-21 12:58] lgarrison commented on #217
@manodeep If we can detect the scenario, it seems we should just fix it ourselves my adding the `-mavx512vl` flag.  The flag is mentioned in the release notes: https://gcc.gnu.org/gcc-5/changes.html

But not in the corresponding doc page: https://gcc.gnu.org/onlinedocs/gcc-5.5.0/gcc/x86-Options.html#x86-Options

My guess it is it's supported, just not automatically added with the `-march=native` f

[2020-03-21 13:55] dstndstn commented on #217
If I do (with gcc 5.5.0)
[code]

it gets further but dies with
[code]

[2020-03-21 14:06] lgarrison commented on #217
Thanks.  I think that one is probably this bug: https://stackoverflow.com/questions/51290930/why-does-gcc-not-provide-the-avx512f-intrinsic-for-absolute-value-of-floats?rq=1

Looks like we can work around this one as well.  That's two workarounds for gcc 5... but gcc 5.5.0 is only 3 years old, not sure it makes sense to drop support!

[2020-03-23 05:29] manodeep commented on #217
`gcc` is terrible when it comes to intrinsics. For instance, we already have a non-standard `AVX_ABS_FLOAT` in `avx_calls.h` [here](https://github.com/manodeep/Corrfunc/blob/master/utils/avx_calls.h#L91). It is trivial to do the same for `AVX512_ABS_FLOAT` or better yet, directly take the implementation from the gcc patch listed in the link above.

I am wondering if we should report these two bugs

[2020-03-23 06:13] manodeep commented on #217
After looking through gcc docs (https://gcc.gnu.org/onlinedocs/gcc/x86-Options.html#x86-Options), apparently `-march=skylake` does **NOT** add any AVX512 instructions. For that, we need `-march=skylake-avx512`; and that target architecture is not available on gcc5 (only gcc6 or higher). Since we are seeing quite a few of the AVX512 isa's enabled by `-march=native`, I am uncertain what `-march-nati

[2020-03-25 15:36] lgarrison commented on #217
I think there's 3 things to do here:
1) Detect if the CPU and compiler support `-mavx512vl` but `__AVX512VL__` is not present in the preprocessor output for `-march=native`.  If so, add `-mavx512vl` to `CFLAGS`.
2) Provide `_mm512_abs_ps()` if it is not present (needs more thought, how do we detect if this is defined? Does the system library define a macro? Or should we always just use our own imp

[2020-03-27 05:12] manodeep commented on #217
This will require a bit of thinking so that the complexity does not go up (and that we are not implementing `configure` like capabilities into `Corrfunc`). The original reason to only target `AVX512F` was to make sure that Corrfunc runs on both SKX+ and KNL+ hardware. However, the code currently fails to compile on KNL for this same issue (#183)

For the `abs_ps`, `icc/clang/gcc >= 7.3` always pro

[2020-04-02 05:31] manodeep commented on #212
@julianakwan Will you please retry installing Corrfunc *after* installing `setuptools` with `python -m pip install setuptools` (please add `--user` if needed).

(I am assuming the issue you were facing has been resolved but would be good to know what the resolution was)

[2020-04-06 23:24] julianakwan commented on #212
Sorry for being slow -

Yes, I was able to install Corrfunc using setuptools. Thanks for your help!

[2020-04-06 23:24] #212 closed

[2020-04-06 23:27] manodeep commented on #212
@julianakwan Thanks for the update and no worries at all. Glad the installation issue was all sorted out

[2020-04-07 01:05] lgarrison commented on #212
Just noting that I see the setuptools error is coming from the one-liner that boostraps Corrfunc's `setup.py`, not `setup.py` itself.  That is, this line from @julianakwan's report:

[code]

I guess this is a pip-ism?  I've seen this pattern before but don't totally understand where it comes from.  It's not something we wrote, right?

[2020-04-13 08:44] kakirastern commented on #97
@manodeep I would like to follow up on this issue with additional PRs for the remaining extensions and for the implementation of the proposed decorator.

[2020-04-13 12:53] manodeep commented on #194
@rainwoodman I am not sure what you mean with numpy histogram putting out-of-range samples in some bins; my understanding is that all out-of-range data are simply not counted. In any case, I would argue that if the user wanted to include the `pimax`, then they could pass `pimax + FLT_EPSILON`, and then the `pimax` values would be included.

However, since there is an upper limit to `mu_max`, the c

[2020-04-13 13:20] lgarrison commented on #194
I think that rolling out a `last_mu_bin_closed` flag for just the two `DDsmu` CFs is fine.  I think that perhaps the flag could even be on by default, as it's a small change.  But I'd like to know what others think.

[2020-04-13 14:53] rainwoodman commented on #194
Yes. You are right. I confused histogram with digitize.

On Mon, Apr 13, 2020 at 5:54 AM Manodeep Sinha <notifications@github.com>
wrote:

[2020-04-14 02:23] kakirastern commented on #97
Also, would like to know if there is any recommended way to approach each of the remaining tasks in this issue? That is, is there any recommended order for their completion?

[2020-04-14 03:16] manodeep commented on #97
@kakirastern Thanks for your continued interest - your contributions are very welcome.

Let's go for the advanced method - that will have several benefits:

- reduces the total amount of duplicated code
- will extend the solution to other pair-counters that may be added in the future
- (likely) exposes you to decorators - a very powerful python programming technique

Since this contribution will b

[2020-04-14 12:15] kakirastern commented on #97
Thanks @manodeep! Let me go through the primer on decorators and get back to you over the next few days.

[2020-04-20 15:49] kakirastern commented on #97
Hi @manodeep I should be ready to continue again tomorrow. Been sidetracked by something cropped up suddenly.

[2020-04-21 00:19] manodeep commented on #97
Thank you for letting me know. Just in case this is not clear, you are *doing us* a favour - so please feel free to work at it on your own timescale (never mind the whole pandemic going on in the world!)

[2020-04-24 12:59] kakirastern commented on #97
Thanks @manodeep! The personal matter has been resolved now so I can get back to this issue. I have read the primer on decorators you have suggested earlier. I really like the idea of using decorators as an advanced method to approach the task outlined above. What would you recommend me doing next?

[2020-04-27 01:28] manodeep commented on #97
@kakirastern Can you come up with a strategy (using decorators) that loops over the relevant angular/spatial dimensions and then finds the fastest runtime? Perhaps create some toy "decorated" functions to get a better idea about the functionality?

Think of this issue as tackling a research problem - solving it will require some exploration but there *should* be a solution at the end :)

[2020-04-27 12:31] kakirastern commented on #97
Sure @manodeep Give me some time to think about the strategy and I will get back to you soon.

[2020-05-09 13:02] kakirastern commented on #97
Hi @manodeep I have experimented using decorators with modification of the docstrings... So will move on to testing with the code part next.

[2020-05-11 01:08] manodeep commented on #97
Great! Would it be easier if you open up a gist (gist.github.com/) with a Jupyter notebook? That way wemight be able to help (or ask for help as the case may be)?

[2020-05-13 14:24] kakirastern commented on #97
Sure, let me figure out how to use `gist` and report back shortly.

[2020-05-23 11:34] kakirastern commented on #97
Am thinking about a way things would work in the context of a package though, hence it's taking more time...

[2020-05-24 02:55] manodeep commented on #97
Thanks for the update. Please let me know if I can help with the planning/design phase...

[2020-05-27 19:24] kakirastern commented on #97
Sure! I have been experimenting using decorators in some other Python packages... Turned out it can get quite intricate and more nuanced then the impression I got from reading the reference article alone. It took awhile for me to really get the gist of the idea behind. But I will definitely start some notebook this weekend.

[2020-06-10 23:51] manodeep opened #221 "Add MKL for a faster DDtheta test run"
**Is your feature request related to a problem? Please describe.**
Running the tests `DDtheta_mocks` always take a long time because there are no vectorized `acos` functions available directly through `gcc/clang`.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
`icc` has an implementation through MKL/SVML, and would be good to i) either install MKL

[2020-06-11 01:29] manodeep commented on #97
Sounds good. For starters, do you mind setting up a jupyter notebook containing these three functions:

- a function with some keywords, + with `xyz_binrefs`
- a function with some keywords, + with `ra/dec_binrefs`
- the decorator that accepts a function, checks which one of the two functions have been passed (based on the existence of `xyz_binrefs` or `ra/dec_binrefs`), and then runs a triple nes

[2020-06-11 13:08] manodeep commented on #221
Noting that the intel channel on conda has an `mkl-devel` package, that contains the relevant `mkl.h` header and the libraries. We could add an option to request MKL and expand out the inverse cosine into the MKL-defined functions + the existing fallback when neither icc nor MKL are available.

[2020-06-11 14:44] lgarrison opened #223 "Add 2PCF multipoles"
**Is your feature request related to a problem? Please describe.**
Corrfunc has no feature to compute 2PCF multipoles.  Users can use [halotools' wrapper](https://halotools.readthedocs.io/en/latest/api/halotools.mock_observables.tpcf_multipole.html) around DDsmu, but that requires tuning the number of mu bins.  Too few and the discrete approximation to the integral is inaccurate; too many, and the

[2020-06-15 06:07] kakirastern commented on #97
Sure, will get to it as soon as possible.

[2020-06-28 14:15] kakirastern commented on #97
Hi @manodeep! After much trial and error I have drafted a version of a decorator that accepts a function, checks whether the function is with the `xyz_binrefs` arg or is one with the `ra_dec_binrefs` arg (couldn't use the slash you have used due to some syntax issue), as well as prints out all args defined in the actual function.

The gist for that work is at: https://gist.github.com/kakirastern/a

[2020-06-28 23:07] manodeep commented on #97
@kakirastern Great work - that's fantastic.

Can you try with each of `DD, DDrppi, DDsmu, wp, xi, vpf` and `DDrppi_mocks, DDsmu_mocks, DDtheta_mocks, vpf_mocks` and probe whether each one of those functions contain `xbinref/ybinref/zbinref` or `ra_binref/dec_binref`?

The idea would be to automatically wrap a triple-for-loop (or some form of nd-iter) around the wrapped function and automatically f

[2020-06-30 01:25] kakirastern commented on #97
Sure @manodeep Will try each of `DD, DDrppi, DDsmu, wp, xi, vpf` and `DDrppi_mocks, DDsmu_mocks, DDtheta_mocks, vpf_mocks` and see whether each of these contain either `xbinref/ybinref/zbinref` or `ra_binref/dec_binref` using the approach you have suggested, then get back to you soon.

[2020-06-30 02:08] manodeep commented on #97
Perfect! And you can test that the output of this decorated function matches the output from the existing `find_fastest_wp*` and the `find_fastest_DDtheta*` routines.

Thanks again - this looks awesome!

[2020-06-30 07:56] kstoreyf opened #224 "weird behavior with verbose=True"
## General information

- Corrfunc version: 2.3.2
- platform: linux
- installation method (pip/source/other?): pip

## Issue description

I have a strange issue running Corrfunc on my cluster, that I can't reproduce on another cluster. I admit it's quite weird but can't figure it out.
When I submit a Corrfunc job to my cluster, it sometimes crashes partway and hangs indefinitely. Specifically, it

[2020-06-30 08:14] manodeep commented on #224
Thanks for the report. Could this be related to #197 ?

[2020-06-30 15:36] lgarrison commented on #224
This is pretty weird!  Could you share the job submission script that you're using to run this example?  I'm wondering if some kind of stderr/stdout buffer could be filling up (not that I've ever seen that before).

Do you know how many iterations the 100 mock example gets through before it hangs?  Does it always hang on the same iteration?

Also, this isn't on the Flatiron cluster by any chance,

[2020-06-30 17:26] kstoreyf commented on #224
i suspected something like a full buffer! yes this example actually hangs at 13 iterations, independent of Nmocks or Nbins.

it's on the sirocco cluster at nyu - actually thanks for pointing out #197 because @zxzhai might be running on the same cluster? zhongxu, would be great if you don't mind testing this on sirocco.

here's the job submission script:

[code]

[2020-06-30 17:44] lgarrison commented on #224
So if you put a Python print statement in the loop, it prints 13 times?  Do
you get 13 chunks of verbose Corrfunc output too?  The Corrfunc output
comes from the C level, so it would be good to check that print statements
from both the C and Python level are making it through.

I'm wondering if the wurlitzer package we use to capture output from the C
extension could be causing trouble somehow?

O

[2020-06-30 18:01] kstoreyf commented on #224
so the other strange/frustrating thing is that when it hangs, i have to cancel the job, and then the output file is empty (or if i print things about the nodes, it has that, but no printlines from the code itself). i figured out the 13 by appending to file each iteration. maybe i could also redirect the output to a file or something?

when i run on interactive node, i see both python and c-level C

[2020-06-30 18:17] lgarrison commented on #224
If it's convenient for you to run Corrfunc from source, could you try a few wurlitzer-related things?  Specifically, in `utils.py`, there's this snippet in `sys_pipes()`: https://github.com/manodeep/Corrfunc/blob/75b8ac98cc5cc76a5d8aa95715937194cec8ea15/Corrfunc/utils.py#L1044-L1055

Could you print the values of `sys.stdout.isatty()` and `sys.stderr.isatty()`?

Could you also try adding `raise` i

[2020-06-30 20:08] kstoreyf commented on #224
could you clarify the syntax for adding `raise`? want to make sure i'm doing it correctly.

a) on the interactive node, both `sys.stdout.isatty()` and `sys.stderr.isatty()` are true.
b) when running Nmocks=10 and verbose=True, both are false.
c) when running Nmocks=20 (>13) and verbose=False, both are false.
d) when running Nmocks=20 and verbose=True, can't see the output!

for case b), verbose ou

[2020-06-30 20:15] lgarrison commented on #224
Okay, it sounds like the TTY detection is working properly.  The
interspersed output is likely just due to buffering and is not unusual.
Adding flush=True as an argument to print() would probably fix this, but
it's probably not related to the real problem.

For the exception, you can just do "raise" as the first line in the
"except" block, and Python will figure out to re-raise the exception that

[2020-06-30 20:41] kstoreyf commented on #224
ok thanks that's what i was doing, it's not changing anything when i add the "raise" line. in the cases i can see the output, it's not reaching the except block (can see from adding printlines).

and yes i've seen the interspersing before, probably not the issue here.

[2020-06-30 21:15] lgarrison commented on #224
Okay, not seeing a problem yet.

The following is a little paranoid, but easy to check.  Could you pip
install psutil and place the following in the Wurlitzer context:

p = psutil.Process()
print(p.num_fds())

Aside from that, there are a few places in the code where the verbose flag
could, in theory, lead to an early exit, like this one:
https://github.com/manodeep/Corrfunc/blob/master/theory/xi/

[2020-06-30 22:04] kstoreyf commented on #224
assuming you mean the wurlitzer context you quoted above. for the submitted job Nmocks=14 verbose=True, output of num_fds() is:

n=0: 14
n=1: 15
...
n=11: 25
n=12: 15 (suspiciously close to when it fails on 13)
n=13: 16

if i more mocks with verbose=False, it keeps increasing then jumps back to 16 at n=31, and so on (with slightly diff mins and maxs).

i see this is the number of file descriptors

[2020-06-30 22:25] manodeep commented on #224
Within the C code, everything is printed to stderr, *except* for the final result that might be written out from a command-line executable. That means nothing is printed out to stdout if you are using the python interface.

I am surprised that num_fds is not constant. Doesn't that mean there is resource leak occurring somewhere?

[2020-06-30 22:33] manodeep commented on #224
The progressbar code should be okay (just looked through the code), but it has string handling - so who knows!

[2020-06-30 23:01] lgarrison commented on #224
I'm not sure about the number of fds.  I guess it is a leak, but this is
way under the default max number of fds, which I think is 1024.  But maybe
this cluster has a lower limit?  I will have to look up the query syntax...

On Tue, Jun 30, 2020 at 6:33 PM Manodeep Sinha <notifications@github.com>
wrote:

--
Lehman Garrison <lgarrison@flatironinstitute.org>
Flatiron Research Fellow, Cosmology X Da

[2020-06-30 23:27] kstoreyf commented on #224
thanks both! let me know if you have other ideas i can test. for now i can just turn off verbose, but it took me a while to diagnose, so maybe having this here will help someone else!

[2020-07-11 03:13] manodeep opened #225 "Compile failure for missing 'CC' in the environment"
## General information
Reported by Meredith Clark Powell, with the issue faced Riley Jane Shaper

- Corrfunc version: 2.3.3+
- platform: any
- installation method (pip/source/other?): source

## Issue description
Compilation fails when 'CC' is not defined in the environment

### Expected behavior
Corrfunc should compile with some default compiler (or fail when the default compiler is unavailable)

[2020-07-13 20:23] rjshaper commented on #225
Hi,
I am getting an error when I try to do this. My input was:
$ git checkout fix_env_cc
and the output I got was:
error: pathspec 'fix_env_cc' did not match any file(s) known to git.
What else can I try?

[2020-07-13 20:24] lgarrison commented on #225
@rjshaper Can you try `git pull` first?

[2020-07-13 20:32] rjshaper commented on #225
@lgarrison That fixed it. Thank you!

[2020-07-20 23:33] manodeep commented on #172
I can compile and run with multiple threads even with Apple clang with the following steps:

[code]

Of course, we will need to detect apple-clang, and then `conda` (and possibly `brew` if `conda` is unavailable), install the `llvm-openmp` package, and add those options to `CFLAGS` and `CLINK`.

Noting the solution here for incorporating into the v2.4

[2020-07-27 13:37] kakirastern commented on #97
@manodeep Apologies for the long silence, will get back to you within this week

[2020-07-30 20:29] manodeep commented on #97
All good :)

I did mean to ask - how did you setup the gist to connect the google-colab notebook? Looks very nice

[2020-07-30 21:23] kakirastern commented on #97
Oh, they have added this new option "Save a copy as GitHub Gist" under "File" in the navigation bar of Google Colab so if I opt to work there I can make a Gist simply with the click of a button.

<img width="474" alt="Screenshot 2020-07-31 05 19 56" src="https://user-images.githubusercontent.com/26264600/88976007-e0463100-d2ed-11ea-8cf9-cf7a1409f7ef.png">

[2020-07-30 22:01] manodeep commented on #97
Thanks!

[2020-08-01 05:11] kakirastern commented on #97
Hi @manodeep

So I have tried the same on each of `DD, DDrppi, DDsmu, wp, xi, vpf` as well as `DDrppi_mocks, DDsmu_mocks, DDtheta_mocks, vpf_mocks` as suggested, and have discovered that I needed to tweak the code a little to make things work, because in sometimes `X`, `Y`, `Z` are used and sometimes `X1`, `Y1`, `Z1`, depending whether `X2`, `Y2`, `Z2`. The same goes for the `RA` and `Dec` bin ref

[2020-08-02 21:50] Richard-Sti opened #227 "DDrppi bug memory leak"
## General information

- Corrfunc version: 2.3.4
- platform: Linux, macOS
- installation method (pip/source/other?): pip

## Issue description
Each Corrfunc.theory.DDrppi call appears to be leaking memory.

### Expected behavior
Calling DDrppi should not leave any memory inaccessible.

### Actual behavior
The amount of potentially leaked memory depends on the problem but is on order of O(100 KB)

[2020-08-02 22:11] lgarrison commented on #227
Thanks for the report!  I will try to reproduce it this week.

If you do `copy_particles=False`, does the leak persist?  Obviously, it should not leak in either case, though!

[2020-08-02 22:21] Richard-Sti commented on #227
Thanks! Yes, the leak persists even if I set `copy_particles=False`.

[2020-08-03 01:02] manodeep commented on #97
Awesome - that looks great!

I have some suggestions regarding how to make the code a bit more compact, but you have already solved the first part for detecting what kind of a function is being decorated. Great work :)

For the outermost decorator factory function, I would recommend accepting `max_xbin_ref`, `max_ybin_ref`, and `max_zbin_ref` arguments. That will help you set up the loop over the

[2020-08-05 01:49] manodeep commented on #225
Fixed by #226

[2020-08-05 01:49] #225 closed

[2020-08-09 02:50] kakirastern commented on #97
Yeah, sure @manodeep I can definitely do that.

Regarding the last question, I have actually been thinking about it. Do you reckon it would be a good idea / is a good time to start testing some possible implementation in the repo itself?

[2020-08-10 02:17] manodeep commented on #97
@kakirastern Of course! Just fork the repo and start adding the code. IThe best place to add the new code would probably be the `Corrfunc.utils` (sub)package

[2020-08-12 17:12] kakirastern commented on #97
Thanks @manodeep Then I will add the code and experiment with it in a new branch on my fork as you have suggested... GSoC will be over for me soon, so I will have more time to work on this issue moving forward.

[2020-08-14 19:40] lgarrison commented on #227
@Richard-Sti I think I found the leak, a Python reference leak to the results structure.  I think it's present for all modules, but the rppi leak is the biggest because it's 2D.  Could you try PR #229?

[2020-08-14 22:18] manodeep commented on #227
That is fantastic!

@lgarrison The C-python extensions are proving to be annoying with the memory leaks - should we consider switching to something like `cffi`?

[2020-08-15 00:15] lgarrison commented on #227
Yes!  I'm a big fan of CFFI.  I haven't used it at this scale, though!

[2020-08-15 12:24] Richard-Sti commented on #227
@lgarrison I compiled PR #229, ran the minimal failing example and the leak looks solved now. Awesome, thanks!

[2020-08-17 22:29] #227 closed

[2020-08-17 22:30] lgarrison commented on #227
Merged!  Thanks @Richard-Sti.  This will be part of the next release.

[2020-08-17 22:45] Richard-Sti commented on #227
Great! Thanks for fixing it this quickly:)

[2020-08-27 13:57] kakirastern commented on #97
GSoC is finally over for me. I will resume work on this PR this weekend.

[2020-08-28 22:24] manodeep commented on #97
Hope GSoC was a good experience! Please take your time, no rush here

[2020-09-06 16:06] kakirastern commented on #97
Thanks @manodeep! GSoC has been very fruitful and fun this year for me, I have been fortunate to work with SunPy again as a Student Developer. Also, I have resumed working on this issue, and will have something to show over the next week or so.

[2020-10-18 13:59] kakirastern commented on #97
Just ditched some last-minute commitments so that I can finally finish up what I started here @manodeep Will keep in touch and keep working until the end say in a month's time for the PR. Thanks for your patience!

[2020-10-19 01:39] rainwoodman opened #236 "Illegal instructions on 2.3.4 from conda-forge."
## General information

- Corrfunc version: 2.3.4
- platform: linux-64
- installation method (pip/source/other?):
conda forge

It is a rather old CPU with only avx. /proc/cpuinfo
[code]
## Issue description

After switching to corrfunc on conda-forge, I am getting an illegal instruction error.

### Expected behavior
Test shall passes.

### Actual behavior
Test crashes with Illegal instruction with

[2020-10-19 01:46] manodeep commented on #236
@beckermr You might have more info. Do you know how/where the compilation was done?

@rainwoodman Do you know which function produces this error? Is the error somewhere in the `gridlink` routines?

[2020-10-19 01:48] manodeep commented on #236
This issue might be more appropriate in the [feedstock repo](https://github.com/conda-forge/corrfunc-feedstock). @beckermr What do you prefer?

[2020-10-19 01:59] rainwoodman commented on #236
Yes it is in gridlink.

I was going to try to build 2.3.4 with the bccp recipe locally(which would give us a more firm signal). but got stuck at a conda-build  cache error due to my weird Fedora set up at home. (https://github.com/conda/conda/issues/7227)

[code]

And if I run this under gdb, bt gives gridlink
[code]

[2020-10-19 02:51] beckermr commented on #236
Thanks for bumping me. We can debug here. The first thing to do is to figure out if the bug happens when the package is built outside of conda build and conda forge compilers. If so, then I doubt that anything done in the recipe is the issue.

[2020-10-19 15:58] lgarrison commented on #236
I followed @rainwoodman's example and tested this on an AVX2 machine, and it doesn't seem to trigger the "Illegal Instruction" error.  I do get a different error partway through the tests, but it's probably unrelated (fails on `os.remove(paircount-test.json)`; can provide more details if we think it's related, but I probably just ran the tests wrong).

AVX2 isn't a super-helpful data point, but I'

[2020-10-20 05:52] rainwoodman commented on #236
When I build 2.3.4 locally (on the machine without AVX2) with the bccp recipe (https://github.com/bccp/conda-channel-bccp/pull/40), and the test have passed.

The conda-forge recipe may be missing a gsl dependency in build -- the Makefile calls gsl-config on the build env.

Does Corrfunc Makefile support cross compilation? If not it is there a way to disable AVX2 even if the machine compiling the

[2020-10-20 19:32] manodeep commented on #236
The discussion on [here](https://github.com/conda-forge/corrfunc-feedstock/issues/2) regarding optimised builds might be useful.

[2020-10-20 19:35] beckermr commented on #236
No. It actually disables most SIMD optimizations by default.

[2020-10-22 21:39] manodeep commented on #97
All good - please ensure your wellbeing/commitments. This can wait

[2020-11-06 21:15] lgarrison opened #237 "unnecessary vpf check?"
There's a check in vpf to make sure the total volume in spheres doesn't exceed the box volume: https://github.com/manodeep/Corrfunc/blob/master/Corrfunc/theory/vpf.py#L207

But I'm not sure that condition is necessary?  Spheres are allowed to overlap in vpf, right?

@manodeep do you know why this is there?

[2020-11-07 01:57] manodeep commented on #237
it's a sanity check to make sure that the total number of spheres requested is sensible. If the total volume exceeds the box volume, then there *must* be some non-independent data-points, and therefore, the total number of spheres used is no longer a fair representation of the amount of scatter expected.  In those cases, it is betterr to use a smaller number of random spheres (which might overlap)

[2020-11-07 04:59] lgarrison commented on #237
I guess I was thinking about it like this.  The VPF tells you what the probability is of having 0 (or N) particles in a sphere thrown down at random in a box.  So if we throw down as many such random spheres as possible, isn't the fraction with N exactly what we want to know?

I agree a single box is only going to be a single sampling of the "true" VPF, but I would think limiting the number of sph

[2020-11-08 23:56] manodeep commented on #237
I am not sure how repeatedly re-sampling the same volume would give a less noisy estimate of the (large-R) VPF. If anything, the larger number of spheres will make you underestimate the error on the VPF. Of course, the only way to really get the scatter in the VPF is by looking at the scatter in the measurement over many different realisations.

Having said all that, I have never tested the bias-v

[2020-11-09 18:11] lgarrison commented on #237
For the large-R VPF, if one is going out to 20% of the box, for example, then that's only 30 spheres.  So the granularity of the VPF is only 3%!  That's a pretty extreme case, but perhaps we should let the user make this choice.  What do you think about changing the error to a warning?  That's slightly less overhead than a new parameter, but I'm also fine with that.

[2020-11-10 02:48] kakirastern commented on #97
Hey got sidetracked again by a 2-week long fever... Great it is over now. Will resume work next week for certain.

[2020-11-10 03:06] kakirastern commented on #97
This time I will keep my word

[2020-11-10 05:36] kakirastern commented on #97
Should be straightforward enough once I follow up on this hint...

[2020-11-10 22:08] manodeep commented on #237
If the user really wants to probe Rmax to 20% of Lbox, then restricting the total number of spheres seems like a good idea!

Though I like the idea of changing to a warning, I have found that people just ignore warnings. It would be a little more work to put in a `override_volume_check` keyword, but at least that will ensure that users have to consciously make that choice.

[2020-11-10 22:24] lgarrison commented on #237
Well, even a much more reasonable case, like 5% of the box, is only 2000
spheres, which may not be enough to capture rare small-scale events that
may nonetheless hold interesting information.

If the user wants the vpf across a range of Rmax scales, we might say from
a computational perspective that it makes sense for the user to run vpf
many times, decreasing nspheres as one increases Rmax.  But

[2020-11-11 04:15] manodeep commented on #237
Are you concerned with the extra code required to over-ride the default behaviour? To me, it seems like adding a boolean keyword `override_volume_check` or `allow_oversampling` would not be that much code but would let the user get the desired behaviour. Regardless, I do agree that the behaviour might be desirable - I am trying to avoid making any default choices that can impact the fidelity of th

[2020-11-11 13:41] lgarrison commented on #237
Yes, it's a combination of not wanting to add more surface area to the API, and a lingering feeling that this check shouldn't be there at all.  The condition forces you to miss a lot of sphere configurations!

By "rare events", I mean low-amplitude counts-in-cells.  I think for any radius (doesn't have to be small), if you go to high enough (or small enough) counts, the probability p(N) will be ve

[2020-11-12 02:30] manodeep commented on #237
Seems like you feel fairly strongly about this :). Changing to a warning falls under the same scope as checking for the ratio - `Rmax/Lbox` in the correlation function caiculations - something we do not do currently.

Since the change will alter the default behaviour, should we milestone for a minor release (i.e., `2.4.0`) rather than a patch release?

[2020-11-12 03:03] lgarrison commented on #237
Sorry! I swear I wasn't planning on dying on this hill... I haven't worked with the VPF before, so I'm just trying to think it through and make sure I've wrapped my head around what's going on. And hopefully doing so will help newcomers to the code, especially since I think many students use corrfunc!

So do you think you agree with my assessment? If so, then yes, 2.4.0 sounds good to me.  Do you

[2020-11-12 19:13] manodeep commented on #97
Glad you are feeling better.

Think the following steps would be required:

- fork the repo
- add a new decorator function to the `utils.py` file
- check that the function runs and returns intended results
- check that the function works correctly
- add docstrings at the top of the function (before the function body)
- add a test or two (if possible)
- add separate documentation, with an example o

[2020-11-12 22:24] kakirastern commented on #97
Thanks, will start after my NDCube PR has been safely merged...

[2020-11-17 02:25] manodeep commented on #237
Hehehe - definitely seemed like the hill :). All good - let's milestone this change for `2.4.0`. Did you want to PR this up?

Seems like the boxsize PR has some merge conflicts - are you able to fix those? Otherwise, I think that one is good to go but I will take one final look (it's been a while)

I am assuming this means that the next release will be `v2.4.0`. There are a lot of issues that are

[2020-11-17 02:33] lgarrison commented on #237
Yes, sounds good, I'll take a look tomorrow.

[2020-11-17 15:37] kakirastern commented on #97
NDCube PR safely merged after one entire week of "wrangling". Will get on with this PR tomorrow, and be careful with the documentation to be added.

[2020-11-18 15:43] kakirastern commented on #97
On it tonight

[2020-11-18 19:25] laperezNYC commented on #237
Hi! I'm Lucia, and I'm the one who brought up this issue to Lehman while using CORRFUNC for my current projects. I was throwing CORRFUNC at much smaller volumes that I'm sure you wrote this for, and was struggling with the code stumbling for radii where I _knew_ the VPF could still be trustworthy and measured, and finding it was giving inconsistent results because of the undersampling the check im

[2020-11-19 02:05] manodeep commented on #237
Hi @laperezNYC - my name is Manodeep - nice to e-meet you! Thank you for using Corrfunc and even more thanks for contributing an improvement.

[2021-01-05 21:54] #237 closed

[2021-01-13 04:21] lgarrison opened #240 "Better parallelization algorithm for gridlink"
Gridlink currently uses a simple parallel scheme that does two passes over all particles: one to compute cell indices, and another to write the particles into cells.  Each thread is actually still reading all particles in the second pass and is just treating those in its domain to avoid race conditions.

We can do better!  With a fast, parallel sort, each thread will only have to read particles in

[2021-01-13 13:21] lgarrison commented on #187
Superseded by #240.

[2021-01-13 13:21] #187 closed

[2021-01-13 13:35] lgarrison commented on #240
The in-place version will need to use swaps instead of argsort.  Or we'll need to figure out how to do an efficient in-place permutation.  Either way, it should be parallelized.

[2021-01-15 05:39] manodeep opened #241 "Compiling on Apple M1"
**Is your feature request related to a problem? Please describe.**
Ability to compile and run Corrfunc on the (late-2020) Apple M1 laptops. Does not compile

**Describe the solution you'd like**
Run Corrfunc on the new M1 laptops (preferably optimised kernels - which needs kernels with `Neon` ISA)

**Describe alternatives you've considered**
N/A

**Additional context**
The new M1 chip supports ARM

[2021-01-15 05:46] karlglazebrook commented on #241
I've tried making that line both explicitly true and explicitly false. If I set it to '#if 0' I get a different error:

[code]

Is it just wrong C syntax that has not been seen due to not being invoked in many years?

[2021-01-15 06:46] manodeep commented on #241
@karlglazebrook Huh - now this is erroring in the next function. I wonder if the compilation works for only  [these lines](https://github.com/manodeep/Corrfunc/blob/master/utils/cpu_features.h#L71-L83)?

[2021-01-15 07:01] karlglazebrook commented on #241
It is also erroring at line 49 which is part of the first #ifdef #else branch. Yes it is also erroring in the next lot but one thing at a time?

For lines 38..60
The #else branch it seems to me is clearly intel only from the comments, however the first branch gives the error initially reported. It says it is ' inline assembly, Gnu/AT&T syntax'. I am guessing the problem here is that neither type o

[2021-01-15 19:47] manodeep commented on #241
Ahh yes - thanks for clarifying! I got thrown off by the line numbers. You are quite right - the assembly syntax is different for ARM. Let me try to come up with a solution...

Documenting what I have found so far. One solution that works for `clang`, is to add the following line everywhere:

[code]

Looks like [these registers](https://developer.arm.com/documentation/ddi0500/d/system-control/aarc

[2021-01-15 22:32] manodeep commented on #241
@karlglazebrook Do you mind copy-pasting the output of:

[code]
This will give a hint as to what compiler flags are being defined for the OS + instruction set.

[2021-01-16 08:11] karlglazebrook commented on #241
Sure, noting I had to change the line to

    eval "$cc -std=c99 -march=native -O3 -dM -E - < /dev/null"

otherwise I got the error

test.sh:6: no such file or directory: /usr/local/bin/gcc -fopenmp

1) as is

*** /usr/bin/clang ***
clang: error: the clang compiler does not support '-march=native'
*** /usr/bin/clang done ***
*** /usr/local/bin/gcc -fopenmp ***
#define __DBL_MIN_EXP__ (-1021)
#defi

[2021-01-17 02:21] manodeep commented on #241
This is great - thanks @karlglazebrook!

Looks like `__aarch64__`, `__arm64`, and `__arm64__` are all defined (equal to 1) in these three compiler flags. For the ISA, looks like `__ARM_NEON (=1)` is defined for gcc (with or without `-march=native`) while `__ARM_NEON (=1)`, `__ARM_NEON__ (=1)`, `__ARM_NEON_FP (=0xE)`

So the platform can be detected with any of `__aarch64__`, `__aarch64__`,`__aarch

[2021-01-17 02:48] manodeep commented on #241
I will also note that there might be "undocumented" vectorised calls - someone dug these instructions out. Here's my fork of their [secret gist](https://gist.github.com/manodeep/cca7a9312d771583e5b0b4acf15ff9fa). Found the gist through [here](https://news.ycombinator.com/item?id=25559145)

[2021-01-17 20:32] lgarrison commented on #241
That's if any of `__aarch64__`, `__arm64`, and `__arm64__` are detected?  Sounds good to me!

Would be a fun project to try to get those undocumented vector calls to work!

[2021-01-21 03:01] manodeep commented on #240
Another thing to do would be to find the final sorted order (i.e., account for `sort_on_z`) while performing this initial partitioning of particles into cells.

[2021-01-21 03:16] manodeep commented on #241
Here are the (untested) updates to the `cpu_features.[ch]` files.

<details>
  <summary>cpu_features.h</summary>

[code]

<details>
  <summary>cpu_features.c</summary>

[code]
</details>

[2021-02-12 19:28] ulukrasulov opened #242 "Units of wp and rbins in projected correlation for mocks"
## General information

- Corrfunc version:2.0.1
- platform:
- installation method (pip/source/other?):pip

## Issue description
When Calculating the projected correlation for mocks from SDSS data using DDrppi_mocks, what units are the bins and wp returned in (Mpc or Mpc/h)?

Following from the previously raised issue and the documenation notes I have asssumed it to be in Mpc/h. However, comparing

[2021-02-12 23:16] manodeep commented on #242
Thanks for using Corrfunc and raising this issue. To be clear, the bins are user-input and are *never* modified within `Corrfunc`. I will try to clarify broadly about units in `Corrfunc`.

For `wp` (and all theory pair-counters) are units-agnostic, with the assumption that the bins (+ `pimax` for `wp`,`DDrppi`) are in the same units as the positions. So the units could be `Mpc`, `kpc`, `Mpc/h` etc

[2021-03-01 08:08] alanxuhaojie opened #243 "gcc error when Make"
## General information

- Corrfunc version:2.3.4
- platform: Linux x86
- installation method (pip/source/other?):

Hey, Corrfunc is used to be successfully installed with python 3.7 but it failed after I upgrade to python 3.8. I checked my gcc version is 4.8.5, and the version of make, gsl, python, and numpy seem all good. I google a bit this issue and some say upgrade gcc would solve the problem

[2021-03-01 14:00] lgarrison commented on #243
How are you installing Corrfunc?  From source with `make`, or `pip/conda install`?  The `-fno-plt` option that is causing the error isn't put there by Corrfunc; is it possible that the `CFLAGS` environment variable has been set elsewhere, perhaps by a `module` command, for instance?  Corrfunc will respect any environment `CFLAGS`, but they have to be compatible with `gcc`.

As a quick fix, you mig

[2021-03-01 14:20] alanxuhaojie commented on #243
Thanks for the quick respond. I install Corrfunc from source with make.

The quick fix by changing the CFLAGS line works. I have two further questions:
1, Will the CFLAGS line changing thing downgrade the performance or anything?
2, when 'make tests', it shows the warnings go
WARNING: File was written in a different precision than requested (file precision = 4 requested precision = 8)
[Warning] Th

[2021-03-01 14:42] lgarrison commented on #243
I just did some tests, and that `CFLAGS` prefix seems to be coming in because `gcc_linux-64` is installed in the conda environment.  The `CC` variable is set to point to the conda compiler that works with those `CFLAGS`, but Corrfunc is ignoring `CC` because it sometimes points to an outdated `cc` compiler.  So it kind of is our fault!

Your current installation should work fine, although the warn

[2021-03-01 19:28] manodeep commented on #243
Yup - Corrfunc will ignore the environment `CC` by default. However, you can invoke the right compiler by invoking `make CC=<customCC>`. Or, in the case of the python setup, using `python setup.py install <--user> CC=customCC`

@alanxuhaojie Depending on the problem setup, running the AVX512F kernel can be a significant speed boost. But the AVX512 support only landed in more recent versions of `gc

[2021-03-02 00:41] alanxuhaojie commented on #243
@lgarrison  As Manodeep points out, the AVX512 support may need more recent versions of gcc and I do not want to screw other dependency :(  so I'm fine with my current installation. Big thanks to you guys for very quick and useful response. I will close with issue.

[2021-03-02 01:43] lgarrison commented on #243
I do think that the Anaconda compiler would support AVX512, but it's not a given that Corrfunc would find all of its dependencies under that toolchain!  For what it's worth, I got it to work locally, though.  Happy to help if you decide you want the extra performance.

[2021-03-02 02:37] manodeep commented on #243
Not sure about gcc4.8.5 but it should be possible to install a gcc version that supports AVX512. Seems that gcc7 is installed in the `gcc_linux-64` package (see [here](https://www.anaconda.com/blog/utilizing-the-new-compilers-in-anaconda-distribution-5)) but the conda compiler has a long name -- `x86_64-conda_cos6-linux-gnu-gcc`.

@alanxuhaojie What happens if you do the following:
[code]

[2021-03-02 02:39] manodeep commented on #243
And I will second @lgarrison's offer to figure out a solution - no need to run with sub-par performance!

[2021-03-02 04:10] alanxuhaojie commented on #243
If you want to permanently set the default compiler to /home/hjxu/anaconda3/bin/x86_64-conda_cos6-linux-gnu-cc for all future compilations, please update the "CC" variable in "common.mk"
make[1]: 进入目录“/home/hjxu/bin/Corrfunc/theory”
../common.mk:371: DISABLING AVX-512 SUPPORT DUE TO GNU ASSEMBLER BUG.  UPGRADE TO BINUTILS >=2.32 TO FIX THIS.

[2021-03-02 04:13] manodeep commented on #243
Does installing binutils from conda-forge (`conda install -c conda-forge binutils`) work?

[2021-03-02 04:25] alanxuhaojie commented on #243
@manodeep  @lgarrison Thanks, let's figure out a solution.
I simply comment out :cc line and make distclean, then make, as suggested.  It finds the right complier and but it reports a binutils problem, as showed below, even after I successfully installed binutils 2.32 after the command (conda install -c conda-forge binutils). Should I change something in common.mk to help Corrfunc to identify the

[2021-03-02 04:44] manodeep commented on #243
Huh - that's odd. The conda-forge installed binutils should be v2.35 - seems like that is not being picked up. What do you get when you do `which ld` and `ld -v`? And can you locate the (newly installed) `ld` under the relevant conda (env)-directory?

[2021-03-02 04:53] alanxuhaojie commented on #243
It does fails two times when conda install -c conda-forge binutils but it tried another jason file-ish? and succeed.

(base) [hjxu@dt640 Corrfunc]$ which ld
~/anaconda3/bin/ld
(base) [hjxu@dt640 Corrfunc]$ ld -v
GNU ld (GNU Binutils) 2.32

[2021-03-02 14:45] lgarrison commented on #243
It should know how to find its own binutils (and does on my system).  What happens if you run `$CC $CFLAGS -xc -Wa,-v -c /dev/null -o /dev/null 2>&1`? That should show the assembler it's using.

[2021-03-03 01:09] alanxuhaojie commented on #243
(base) [hjxu@dt640 Corrfunc]$ $CC $CFLAGS -xc -Wa,-v -c /dev/null -o /dev/null 2>&1
GNU assembler version 2.31.1 (x86_64-conda_cos6-linux-gnu) using BFD version (crosstool-NG 1.23.0.444-4ea7) 2.31.1

Weird that it shows different assembler 2.31 with that from ld -v

[2021-03-03 01:58] lgarrison commented on #243
Ah, you're on base Anaconda, not conda-forge. Base Anaconda is still using
the bugged assembler.  Try: conda install -c conda-forge gcc_linux-64, then
try rebuilding Corrfunc.

On Tue, Mar 2, 2021 at 8:09 PM Haojie Xu <notifications@github.com> wrote:

--
Lehman Garrison
Flatiron Research Fellow, Cosmology X Data Science Group
Center for Computational Astrophysics, Flatiron Institute
lgarrison.git

[2021-03-03 02:06] alanxuhaojie commented on #243
Still no luck!  The environmental staff are tough to understand through...

Tried conda install -c conda-forge gcc_linux-64, then make distclean and then make.

[2021-03-03 02:20] lgarrison commented on #243
Hmm, and the assembler version is still 2.31.1, not 2.35.1?

On Tue, Mar 2, 2021 at 9:06 PM Haojie Xu <notifications@github.com> wrote:

--
Lehman Garrison
Flatiron Research Fellow, Cosmology X Data Science Group
Center for Computational Astrophysics, Flatiron Institute
lgarrison.github.io

[2021-03-03 02:29] alanxuhaojie commented on #243
Yup, it reports the same problem when make.

(base) [hjxu@dt640 Corrfunc]$ $CC $CFLAGS -xc -Wa,-v -c /dev/null -o /dev/null 2>&1
GNU assembler version 2.31.1 (x86_64-conda_cos6-linux-gnu) using BFD version (crosstool-NG 1.23.0.444-4ea7) 2.31.1

[2021-03-03 03:00] manodeep commented on #243
To isolate what is going on, it might be better to create a new environment and then work within that environment.

@alanxuhaojie Can you try the following:

[code]

[2021-03-03 04:01] alanxuhaojie commented on #243
Hi Manodeep, it works!  I do see a significant performance for make tests using AVX512 kernel. Btw, when I type $CC $CFLAGS -xc -Wa,-v -c /dev/null -o /dev/null 2>&1, it shows GNU assembler version 2.35.1 (x86_64-conda-linux-gnu) using BFD version (GNU Binutils) 2.35.1. What if I want to install Corrfunc on my base environment, what I can do?

[2021-03-03 04:08] lgarrison commented on #243
Great!  Maybe try including binutils_linux-64 in the install command in the
base environment?  I.e. `conda install -c conda-forge gcc_linux-64
binutils_linux-64`?  And after running that, try running `conda list` and
make sure you see:

binutils_impl_linux-64    2.35.1               h193b22a_2    conda-forge
binutils_linux-64         2.35                h67ddf6f_30    conda-forge

On Tue, Mar 2, 2

[2021-03-03 04:25] alanxuhaojie commented on #243
Still nope :(

binutils_impl_linux-64    2.31.1               h6176602_1
binutils_linux-64         2.31.1               h6176602_9

[2021-03-03 04:30] lgarrison commented on #243
It should tell you the channel that those packages are from. It should be
conda-forge; if not, then perhaps the primary channel has some kind of
precedence.  @manodeep?

On Tue, Mar 2, 2021 at 11:25 PM Haojie Xu <notifications@github.com> wrote:

--
Lehman Garrison
Flatiron Research Fellow, Cosmology X Data Science Group
Center for Computational Astrophysics, Flatiron Institute
lgarrison.github.io

[2021-03-03 04:34] manodeep commented on #243
May be first uninstall those two packages and then re-install from conda-forge?

[2021-03-03 04:52] alanxuhaojie commented on #243
After I uninstalled these two packages, and reinstall them by 'conda install -c conda-forge gcc_linux-64 binutils_linux-64', it shows the below, the channel seems incorrect. They should be conda-force rather than main, right? After the install, checked 'conda list', still 2.31

(base) [hjxu@dt640 Corrfunc]$ conda install -c conda-forge gcc_linux-64 binutils_linux-64
Collecting package metadata (cu

[2021-03-03 17:01] lgarrison commented on #243
This may be some combination of the `base` environment being special, and/or channel priority.  `base` is where conda itself is installed, so maybe the main channel has special priority there.  You can set conda-forge as higher priority by default with:
[code]
(from https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge), but I would only recommend that if

[2021-03-03 17:03] lgarrison commented on #243
And you may want to update conda itself, since package resolution rules sometimes change between versions: `conda update conda`

[2021-03-04 04:53] alanxuhaojie commented on #243
@lgarrison Hi Lehman, you are right on the base environment being special. I simply clone my base env to a new env and install Corrfunc successfully by following the steps from @manodeep

conda activate newenv
conda install -c conda-forge gcc_linux-64 gsl binutils
cd </path/to/Corrfunc>
make distclean
make CC=x86_64-conda_cos6-linux-gnu-gcc

So, to sum it up, if one is in Anaconda base env, he/she

[2021-03-04 07:12] #243 closed

[2021-03-04 13:48] lgarrison commented on #243
Great, glad that worked.  Hopefully conda will start using a newer version of binutils before too long, which will make this easier.

[2021-03-04 22:33] manodeep commented on #243
Yup - glad we could sort out the issue. Hope the better performance helps with your project

[2021-03-12 22:36] lgarrison opened #244 "Corrfunc crashes the Python interpreter with malloc error"
## General information

- Corrfunc version: 2.3.4
- platform: Linux
- installation method (pip/source/other?): pip or source

## Issue description

Running Corrfunc from Python produces errors like:
[code]
and crashes the Python process.

## Resolution

The underlying cause of this issue was found to be a GSL installation that was compiled with the Intel compilers, but the Python installation was

[2021-03-12 22:36] #244 closed

[2021-03-16 02:18] lgarrison commented on #244
Attaching a reproducer for completeness.  Unlikely to reproduce outside of NERSC, but you never know.

<details>

[code]
</details>

[2021-03-18 19:48] manodeep commented on #244
Adding a `setup.py` to round out the reproducer - you can now compile the extension with `python setup.py build_ext`. Importing this extension did not crash on my local supercomputer...

<details>
<summary>setup.py</summary>

[code]
</details>

(Taken from the gist above, and [this SO post](https://stackoverflow.com/a/54138355/2237582https://stackoverflow.com/a/54138355/2237582))

[2021-04-06 22:00] beckermr commented on #236
The patch in this PR solves this I hope: https://github.com/conda-forge/corrfunc-feedstock/pull/20

[2021-04-07 05:33] manodeep commented on #236
Hmm while that patch will solve the bug, it will remove all of the optimised kernels as well and produce quite slow code. Might be better to remove the `-march=native` flag specifically for compiling the `gridlink*` codes.

Related, is there any environment variable that can be used to detect a "conda build" kind of operation?

[2021-04-07 11:33] beckermr commented on #236
Yes, this is the correct effect. conda-forge does not support high-levels SIMD optimization unless you ship a fat binary that detects the instructions at runtime.

There is an env var CONDA_BUILD which will be set to 1 IIRC.

https://docs.conda.io/projects/conda-build/en/latest/user-guide/environment-variables.html#environment-variables-set-during-the-build-process

[2021-04-07 19:38] manodeep commented on #236
The compute-intensive parts of Corrfunc already have such a fat binary capability out of the box, but removing `-march=native` will remove **all** of the SIMD kernels and produce >~ 4x slower code. That's why I am suggesting compiling **only** the `gridlink*` files without the `-march=native` flag.

Let's try to figure this out on the other issue.

[2021-04-07 19:39] beckermr commented on #236
Sure sounds great! We can redo the patching as needed to make this work.

[2021-04-08 15:58] Andrei-EPFL opened #245 "Cannot run tests on NERSC interactive node"
## General information

- Corrfunc version: 2.3.4
- platform:linux
- installation method (pip/source/other?):  from source and then python -m pip install .

## Issue description

a) I can run the tests on the login node of Cori and they finish successfully, however if I ask for an interactive node and I try to run the tests they fail (python tests.py). I tried to check at which point they fail and

[2021-04-08 20:07] lgarrison commented on #245
Hi Andrei, can you try the steps outlined in #244 to fix this issue?  Specifically:
[code]

As best as we can tell, this is a NERSC environment issue, and that's the workaround we have right now.

[2021-04-08 20:58] Andrei-EPFL commented on #245
Hi Lehman,

Thanks for the fast reply!
I should have said this before too: When I installed from the source I changed from PrgEnv-intel to PrgEnv-gnu.  (and I have also changed the common.mk: cc=/opt/cray/pe/craype/2.6.2/bin/cc)

As for the steps you suggested:
I uninstalled corrfunc and then reinstalled it as you said with: pip install corrfunc --no-binary :all:
It still does not work.

Thanks!

[2021-04-08 21:14] lgarrison commented on #245
Thanks, that's good to know.  Can you check if any Intel GSL is left in your environment: `printenv | grep gsl`?

If not, can you try to run the reproducer in #244?  Basically, download the C code and the `setup.py`, build the extension as per Manodeep's comment, and try to import it from Python.  This triggers the error for me with base NERSC Python and Intel GSL, but goes away with GNU GSL.  And

[2021-04-09 20:44] manodeep commented on #245
A quick tip that hopefully saves you some keystrokes, you can use a custom compiler by using `make CC=/your/compiler`

[2021-04-10 18:02] Andrei-EPFL commented on #245
Thanks for the suggestions!
There is not intel gsl when I check with printenv | grep gsl.

When I tried to compile the code it said that it cannot find -lgsl so I added "-L/global/common/sw/cray/cnl7/haswell/gsl/2.5/gcc/8.2.0/sr445ay/lib". I also compiled the code with the flag for intel gsl.

Here is what I observed:

On the login node, irrespectively of how I compile the code (intel or gnu) I ca

[2021-04-10 18:27] lgarrison commented on #245
Thanks for the report, sorry it isn't working.  I'm reopening the issue with NERSC; hopefully they can get to the bottom of it.  I've added you on the NERSC issue tracker (I think; let me know if you can't see it!).

[2021-04-10 18:30] lgarrison commented on #245
One workaround that has been working for me is to roll your own Python stack (see https://docs.nersc.gov/development/languages/python/nersc-python/#option-4-install-your-own-python), but I realize this requires a fair amount of legwork!  Hopefully the core issue can be resolved soon.

[2021-04-10 18:42] Andrei-EPFL commented on #245
Thanks! I am in the issue tracker.

[2021-04-10 18:45] Andrei-EPFL commented on #245
What bugs me is that until the beginning of march this year I could run corrfunc without any issue. But I wanted to reinstall my environments and do some "cleaning" in my home directory and then the "malloc" error occured.

[2021-04-11 20:49] manodeep commented on #245
@Andrei-EPFL Can you use `conda` on NERSC? If so, you could install gsl through conda-forge `conda install -c conda-forge gsl`. May be that will solve the issue.

I am also surprised that `gsl-config` is not found in the `PATH` when `gsl` is loaded. Does NERSC not provide the `gsl-config` utility that comes standard with` gsl`?

[2021-04-12 17:59] lgarrison commented on #245
@Andrei-EPFL Can you try to `module unload craype-hugepages2M` as suggested by NERSC? This fixed the issue in the minimal reproducer for me; you may not even have to recompile.

[2021-04-13 08:44] Andrei-EPFL commented on #245
Hi Lehman,
Fortunately, it worked!!!!
Thank you very much!

[2021-04-13 08:47] Andrei-EPFL commented on #245
@manodeep  I did not check whether installing gsl on conda works (I do use conda, btw). But I can run gsl-config after the gsl module is loaded on NERSC.

[2021-04-13 13:08] lgarrison commented on #245
@Andrei-EPFL Great! I think hugepages was the real problem; GSL just brought it in because it was linked against hugepages, but unloading the module removes the environment variables needed to enable it.

@manodeep NERSC says this is a known issue with Cray hugepages and they don't have a solution, other than to unload the module.  Unfortunately, this appears to be a default module on NERSC, so mo

[2021-04-13 23:15] manodeep commented on #245
@Andrei-EPFL Glad that your issue is sorted! Thanks @lgarrison :)

The link-time gsl flags are populated with `gsl-config` - I was assuming that this link-time error was occurring because `gsl-config` was not found. If that's not the case, then I am confused what scenario caused that link-time error. Unsure whether this (potential) link-time issue merits any further debugging

[2021-04-13 23:17] manodeep commented on #245
@lgarrison I am conflicted - because to me this issue (at the moment) seems to be restricted to a specific computing resource rather than a widely available tool that might be used *any* astronomer. Does this bug only occur within python and not when using the pair-counters from the command-line?

[2021-04-13 23:41] lgarrison commented on #245
I totally agree this issue is probably just restricted to NERSC.  I do, however, think NERSC is a popular platform for Corrfunc these days, especially with DESI ramping up.  I can try to advertise this workaround within DESI, but on the other hand, adding detection to Corrfunc could be as innocuous as:

[code]

The command-line counters seem unaffected. It's probably an issue with Python extension

[2021-04-14 20:14] manodeep commented on #245
Would the idea be to create a custom function `check_runtime_environment` and add this warning (and any future ones) there? Then all the python API calculators call this `check_` function? That seems reasonable - the only thing I can think of is that what happens if in the future we run into a system bug that affects the command-line as well? In that case, adding this check into the C-API would be

[2021-04-14 20:20] lgarrison commented on #245
Yep, I was thinking exactly of something like a `check_runtime_environment()` function.  But I think it would have to live at the Python level; with this bug, just the act of importing any C extension will trigger the error, before we get a chance to call such a C function.

And yes, I think it's good to link the issue in the warning!  I'll go ahead and do a PR if we're in agreement.

[2021-04-14 20:29] manodeep commented on #245
Yes we are in agreement about adding the warning - you convinced me with your user experience + DESI argument :)

So the bug doesn't trigger on `from Corrfunc.theory import DD` but does show up on `from Corrfunc._countpairs import countpairs as DD_extn`?

[2021-04-14 20:32] lgarrison commented on #245
Yes, that's right!

On Wed, Apr 14, 2021 at 4:29 PM Manodeep Sinha ***@***.***>
wrote:

--
Lehman Garrison
Flatiron Research Fellow, Cosmology X Data Science Group
Center for Computational Astrophysics, Flatiron Institute
lgarrison.github.io

[2021-04-17 13:07] lgarrison commented on #245
Closing this with the warning message implemented in #246.

[2021-04-17 13:07] #245 closed

[2021-05-03 22:53] johannesulf opened #247 "Box size for each dimension in Corrfunc.theory"
Thanks everyone for this great package. I have a question/request and I hope I didn't just miss an explanation in the documentation. Currently, pair counter functions in Corrfunc.theory only accept a single number for the box size, i.e. one assumes the simulation volume to be a cube. But the functions can all apparently deal with non-cubic boundary conditions if `boxsize` is not specified. In this

[2021-05-04 01:12] lgarrison commented on #247
That makes sense, I think such a feature would be useful.  You're right that the internal mechanisms are there, it's just a matter of plumbing the functionality to take a boxsize tuple from the Python layer to the C layer.  I think we would just have the C layer always take a boxsize tuple, but that may also require changes to the options struct, e.g. https://github.com/manodeep/Corrfunc/blob/mast

[2021-05-04 19:43] manodeep commented on #247
Yup - should be do-able. Think we should let the python wrappers be flexible to take in a single number or a set of 3 numbers for each of the 3 axes.  I am not confident about the C-API though. @lgarrison You might have more insight since you already started similar work in #199

Changing the C-struct should be easy enough - maybe something like adding a `double box_extents[3]`, or adding  a `unio

[2021-05-09 20:29] huanian opened #248 "MalFunctioning of DDrppi"
## General information

- Corrfunc version: 2.3.4
- platform: MacOS
- installation method (pip/source/other?): Source

## Issue description

The function DDrppi is not working properly

### Expected behavior

We expect it works well and return the number counts

### Actual behavior

TypeError: DDrppi() missing 1 required positional argument: 'Z1'

### What have you tried so far?

I looked up the s

[2021-05-09 23:55] manodeep commented on #248
Thanks @huanian for reporting this issue. This has been fixed by @lgarrison with commit 266037876f388e5198d9fe338e0292bb998dac29

Please let us know if the documentation fix makes sense and you have a working code example

[2021-05-10 00:20] huanian commented on #248
It works well now. Thanks for that.

[2021-05-10 02:11] manodeep commented on #248
Great - thanks for the feedback

[2021-05-10 02:11] #248 closed

[2021-05-10 02:23] manodeep commented on #242
@ulukrasulov I am assuming this issue is resolved and closing. If you have any further questions, please feel free to re-open this issue

[2021-05-10 02:23] #242 closed

[2021-05-10 02:34] manodeep opened #249 "Add doctests to sphinx"
As highlighted by #248, some of the documentation (at least the files under `docs/source/modules`) do not have associated doctests. Would be good to add doctests, following the kind outlined in the [python-interface.rst](https://github.com/manodeep/Corrfunc/blob/master/docs/source/python-interface.rst)

All of the auto-generated documentation under `API` have associated doctests.

[2021-05-11 23:25] manodeep commented on #242
Great - thanks for letting us know

[2021-06-23 17:18] flepri95 opened #252 "DDrppi function seems not to return expected pair counts"
## General information

- Corrfunc version: 2.3.4
- platform: MacOS
- installation method (pip/source/other?): pip

## Issue description

DDrppi function doesn't return expected pair counts, calculated through two-loop pairs counting. I can't figure out if there is a mistake in my thought process (and code) or something more in Corrfunc. If there is a mistake on my part, I apologize for wasting yo

[2021-06-23 17:44] lgarrison commented on #252
Hi, at a glance, the `pi` function looks suspicious, as the line-of-sight distance (in the theory module) is just `abs(z1-z2)`.  Could that be the cause of the difference?

[2021-06-23 18:12] flepri95 commented on #252
It was indeed that. I'm so sorry for wasting your time! Fixing rp and pi definition, the pair counts are the same.

[2021-06-23 18:16] lgarrison commented on #252
No worries, glad it's fixed!

[2021-06-23 18:16] #252 closed

[2021-06-24 00:28] manodeep commented on #172
If we were thinking of supporting cases where `conda` is not available, then [this page](https://mac.r-project.org/openmp/) might be useful

[2021-07-02 08:37] SergeiDBykov opened #253 "Usage of Corrfunct in data analysis"
Dear devs,

I find your package very handy and useful, thank you for writing it.
I have a few questions about the usage of the mock sub-package.

Suppose that My goal is to try estimate spatial CF (xi), projected spatial CF (wp) and angular CF (w).
As far as I understand, all of this can be done via Corrfunc.
The questions are the following:

1) `DDrppi_mocks` calculates pair counts in bins specif

[2021-07-02 11:05] SergeiDBykov opened #254 "Installing on mac-os"
Hi.
I am trying to use Corrfunc on MacOSX 10.15.7 Catalina.
I follow the instructions from readme, but modify `common.mk` before compilation as proposed in #172, using clang from anaconda `CC=/Users/sdbykov/opt/anaconda3/envs/venv_science/bin/clang`.
Everything seems nice, the tests (`make tests`) are passed.

However there are problems in python.
I try [example](https://corrfunc.readthedocs.io/en

[2021-07-02 11:36] SergeiDBykov commented on #254
Ok, I was just being stupid.

Turns out that the code just calculated DR quite some time.
And I thought that it  has stuck.

This is because for some reason the message like
[code]
appears only during the first calculation of pairs. The next calling of function does not produce such message, and I though there were problems.

Thanks!

[2021-07-02 11:36] #254 closed

[2021-07-03 20:59] manodeep commented on #253
Thanks for the kind words and thank you for using Corrfunc. Reports like this help us understand where the documentation may be incomplete/missing.

Correct. The first two columns are the min and max of `rp`  bin, then it is the `rpavg` column,  and the fourth is the max of the `pi` bin, with an assumed pi-binning of 1.0 Mpc/h

The output is the 1-D array `xi(rppi)` - you will have to reshape the

[2021-07-05 13:16] SergeiDBykov commented on #253
@manodeep
Dear Manodeep, thanks for the message! It is now very clear.

I made a [gist](https://gist.github.com/SergeiDBykov/61289dde52a461db35d00a1c34bf84e4)  with a function to create simultaneously `xi`, `wp` and appropriate `rp, pi` bins for plotting 3d CF and projected 3d CF.
It repeats `convert_3d_counts_to_cf` and `convert_rp_pi_counts_to_wp`, but more simply and with appropriate bins retur

[2021-07-05 13:16] #253 closed

[2021-07-07 20:14] markbcahill opened #255 "interrupt_status data races"
## General information

- Corrfunc version: Commit 6c63b73
- platform: Ubuntu 20.04.2
- installation method (pip/source/other?): Built from source

## Issue description
Data races exist with the variables with the prefixes ```interrupt_status``` in the following files:
[code]
An example from `countspheres_impl_float.c`:
[code]
[code]
Here, we have a situation where one thread may attempt to read `

[2021-07-07 20:22] lgarrison commented on #255
Thanks; I think this is known/expected behavior. In our code, these variables are just "abort" flags, and we just care that we eventually quit if they are set; we don't need thread-level synchronization. @manodeep, do you agree?

[2021-07-07 20:34] manodeep commented on #255
Thank you @markbcahill for your report. While the specific `vpf` example is single-threaded only, that pattern does exist in other multi-threaded routines that you have highlighted. However, as @lgarrison said - we just need the value to be updated by the thread for the desired functionality. (I thought I had put an inline comment to indicate this intentionality but I don't see it - ohh well)

[2021-07-07 20:53] markbcahill commented on #255
Thank you for the quick reply!

[2021-07-07 20:53] #255 closed

[2021-09-10 09:48] adematti opened #256 "boxsize when periodic = False"
## General information
- Corrfunc version: 2.3.4
- platform: Ubuntu 20.04.2 LTS
- installation method (pip/source/other?): source (python setup.py install)

## Issue description
Using Python wrapper for theory.DD (the same is true for e.g. DDsmu), not providing boxsize (as periodic=True) results in a RuntimeError (here: https://github.com/manodeep/Corrfunc/blob/cacc923ffc4e43dcde1b0f8a2dafe0493e0c

[2021-09-10 12:09] lgarrison commented on #256
Oops, good catch, thanks for the report!

[2021-09-10 22:23] manodeep commented on #256
Many thanks for the report and thanks @lgarrison for the fix (in #257) too!

[2021-09-11 02:30] #256 closed

[2021-10-15 10:35] mokidm opened #262 "Installation Error (can't find GSL)"
## General information

- Corrfunc version: 2.4.0
- platform:  Linux
- installation method (pip/source/other?): make (as it's mentioned in the "Preferred Install Method" section in README.rst file)

## Issue description

The installation of Corrfunc could not be completed due to a problem related to GSL library, which apparently cannot be found:

<img width="501" alt="Image1" src="https://user-ima

[2021-11-05 14:41] lgarrison opened #263 "`setup_requires` deprecation -- migrate to `pyproject.toml`"
`setup_requires` is deprecated; we'll need to migrate to PEP 517/`pyproject.toml`.

There's a related failure in the wheel build: if numpy is not installed when `pip install corrfunc` is run, then the Python CFLAGS aren't found. In the full log below, it first tries to build a wheel, which fails, and then it succeeds with the legacy `setup.py install` method. I think we can probably fix this as pa

[2021-11-05 18:16] manodeep commented on #263
I am confused - if a matching numpy is not present at the `build_ext` stage, then shouldn't the install fail? (I see that we need better handling of missing numpy case within `common.mk` but that's a separate issue). About building wheels, I thought we can't build/distribute wheels because of #236 and incompatible package name (`Corrfunc` instead of `corrfunc`) right?

We do need to upgrade our se

[2021-11-17 23:06] manodeep opened #264 "Change OpenMP scheduling to from `dynamic` to `static`"
## General information

- Corrfunc version: 2.4.0
- platform: linux
- installation method (pip/source/other?): from source with `python -m pip install -e .`

## Issue description
OpenMP install with gcc/9.2.0 produces incorrect results when invoked from python. This was originally reported in #197, and then rediscovered in #258

### Expected behaviour
The results with OpenMP should be correct when

[2021-11-17 23:06] manodeep commented on #264
@lgarrison I was thinking of implementing this change asap - what do you think?

[2021-11-17 23:33] lgarrison commented on #264
Not sure... I'm worried that static scheduling will hurt the performance for more clustered cases.  I'm also not sure "hiding" the problem with static scheduling is a good idea, even as a stop-gap measure, because we don't really understand all the ways this problem can manifest.  I think keeping the problem highly visible and obviously wrong, as it is now, might be preferable.

[2021-11-17 23:40] manodeep commented on #264
Yeah that's the choice - would it be better to be disastrously wrong or just slightly wrong? Disastrously wrong has a greater chance of people noticing but for those that may not notice, the results will be **wrong**

I will close this then and solve/detect the race condition as we are progressing on #258

[2021-11-17 23:48] lgarrison commented on #264
Speaking of detecting the race condition, maybe it's worth trying the GCC 9.2 thread sanitizer on the Python extension? The memory/address sanitizers were always hard to run because of all the false positives from Python, but perhaps the thread sanitizer will behave better?

[2021-11-17 23:51] manodeep commented on #264
Ohh good idea - I will try that later today

[2021-11-23 23:17] lgarrison commented on #264
Another idea: maybe worth trying `OMP_NESTED=true` and `OMP_NESTED=false`? I don't think we're (intentionally) using any nested parallelism, but if somehow we are, it could mess with the thread IDs...

An even simpler version of this train of thought: can we print the thread IDs and check that they are unique?

[2021-11-23 23:31] manodeep commented on #264
I tried `omp_set_nested(0)` but that did not change anything. Good idea with printing the thread ids - let me try that and I will report back

[2021-11-24 03:14] manodeep commented on #264
Nothing stands out with the printed threads. However, setting OMP_DISPLAY_ENV=verbose does show *two* OPENMP environments from python but only 1 from C

[code]

Another weird thing that I noted is that even though the `make tests_bin` and the `python -m Corrfunc.tests` have the same number of bins, the total number of cell-pairs created is different -- 359833 cell pairs when called from python, an

[2021-11-24 04:15] manodeep commented on #264
Solved this one - the C tests do not `enable_min_sep_opt` whereas the python tests do. When I set `options.enable_min_sep_opt = 1` within `test_periodic_lin.c`, then I get the 359833 cell-pairs.

[2021-12-05 23:52] manodeep opened #266 "Remove references to the `call_correlation_*` scripts in documentation"
I had meant to flag that the docs need to be updated to reflect that the `call_correlation_*` scripts (including the README in the root of the repo)

[2021-12-13 05:13] manodeep opened #267 "Drop certain code options"
While reviewing #258, I realised that perhaps we can retire options like `fast_acos`, and `fast_divide` from the code-base. Not sure if we would leave any users out though (or how to go about identifying users that do need those features)

@lgarrison Do you have any thoughts on this?

[2021-12-13 15:03] lgarrison commented on #267
I've never looked at that part of the code very carefully! On the surface, they sound like useful code options; are they deprecated/not useful in some way?

[2021-12-15 15:04] ub2206 opened #268 "Error in the first correlation value obtained using Corrfunc"
Hello,
I am an undergraduate student working on the 2-point Angular Correlation value calculation of GRB data. I computed it using two methods, one using the "astroML" library and other using the "Corrfunc" library. As promised, the Corrfunc library is very fast. What takes 45 minutes using astroML takes less than 5 minutes using Corrfunc. But when I obtain the correlation values, the first value

[2021-12-15 16:12] lgarrison commented on #268
I think this is probably a case of self-counts being included in bins that have a minimum separation of 0 (which is the expected behavior although a little surprising sometimes).  It's there to ensure that auto- and cross-correlations yield the same answer.  For your case, I think you probably want to subtract off the self-count in the first bin; that is, subtract `N` from DDtheta.

[2021-12-16 07:14] ub2206 commented on #268
Thanks a lot for the response and sorry for the late reply from my side. I would just like to confirm just one thing (in case if I am doing anything wrong).

The `N` is supposed to be subtracted from the _npairs_ of the auto-correlation term only, am I right? The cross-correlation term should be left as it is.

[2021-12-16 13:11] lgarrison commented on #268
That's right, it won't make a difference for cross-correlations.  You may also need to subtract it from the RR term if that's computed with pair counts.

[2021-12-16 13:46] ub2206 commented on #268
Thanks a lot for the solutions. The results are much more accurate and explainable now.

[2021-12-16 13:46] #268 closed

[2021-12-19 22:07] valerio-marra opened #269 "script hangs when using unbuffered output"
## General information

- Corrfunc version: 2.4.0
- platform: cluster with CentOS 7.4.1708
- installation method (pip/source/other?): first pip, then source

## Issue description

i’m running Corrfunc on a simulation snapshot: i’m computing the angular correlation function in thin shells using `DDtheta_mocks`. I first installed Corrfunc via pip, then, in order to increase performance, via source:

[2021-12-19 22:33] lgarrison commented on #269
Hi, @valerio-marra, it seems to build okay (using OpenMP), so maybe it's an affinity issue.  Does the behavior change when you specify `#SBATCH -c 48`? I would have thought that `--exclusive` would have taken care of that, but you never know...  Maybe try passing `-c` in `srun -c 48 -n1 python -u $PY_CODE [...]` as well.

Can you also double-check that the `OMP_PROC_BIND` and `OMP_PLACES` bash env

[2021-12-20 17:31] valerio-marra commented on #269
hi, thanks! i tried what you suggested and nothing worked. Actually, i assumed the code was working in single thread (and killed it because it was taking too long) but when i call DDtheta_mocks, it just keeps running without doing anything. I reduced the number of particles to 10**4 and it does not produce anything (it takes a few seconds on my laptop).

When i first installed Corrfunc via pip, it

[2021-12-20 17:47] lgarrison commented on #269
It might be running, but just very very slowly because 48 threads are fighting for one core. If you run it with `DDtheta_mocks(..., nthreads=1)`, does it complete? Adding `verbose=True` ought to give a progress bar.

I also just realized I got the syntax wrong for the `make` command, it should be:
[code]
You may have realized this already if you saw Corrfunc was still building with gcc instead of

[2021-12-21 04:55] manodeep commented on #268
Thanks @lgarrison!

@ub2206 While your issue itself is resolved, since you are effectively computing angular correlation functions over half the sky - it might be worthwhile to check if the runtime improves if you set both `link_in_ra` and `link_in_dec` to `False`.

[2021-12-21 05:00] manodeep commented on #269
Thanks @lgarrison

For a one-line solution (may be in modern enough `pip` versions?), you can use the `install-option` parameter -- `python -m pip install --install-option="CC=x86_64-conda_cos6-linux-gnu-gcc" -e . --verbose`

[2021-12-21 12:43] valerio-marra commented on #269
Hi @lgarrison, regarding the compilation, indeed it was using the system gcc, but i edited CC in common.mk.
I’m attaching the compilation [logs](https://github.com/manodeep/Corrfunc/files/7755310/logs-compile.txt), it gave this warnings:
`../common.mk:371: DISABLING AVX-512 SUPPORT DUE TO GNU ASSEMBLER BUG.  UPGRADE TO BINUTILS >=2.32 TO FIX THIS.`
How can I update BINUTILS?

Regarding `verbose=Tr

[2021-12-21 13:07] lgarrison commented on #269
I think I'm running out of ideas, other than to try yet more compilers and/or Python stacks. If your cluster has other compilers (e.g. clang, icc, other versions of gcc) available via modules (`module load clang`...), that would probably be the easiest way to try. Same with different Python environments (e.g. try a clean conda environment, or a non-conda environment if you have `module load python

[2021-12-21 13:12] valerio-marra commented on #269
thanks, @lgarrison , i'll try that (I already tried using a clean conda environment).

Could it be that the uninstalled pip version is still being called? Otherwise, why `make tests` is successful?

One more thing: you said "_double-check that the OMP_PROC_BIND and OMP_PLACES bash environment variables are unset_" but it seems that it is `OMP_PROC_BIND = 'FALSE'`. Is this a problem?

[2021-12-21 13:33] lgarrison commented on #269
Oh, that's true, I didn't read the logs carefully enough! I just assumed the C tests were passing, but it looks like the Python tests are passing too. Maybe the issue is exactly what you suggested, and you're installing in one environment and running in another.  Make sure to repeat `pip uninstall Corrfunc` until no more installations are remaining. Don't run it from inside the Corrfunc source dir

[2021-12-21 14:05] valerio-marra commented on #269
@lgarrison , @manodeep i found the problem: if i set `verbose=False` then it works! I was always using `verbose=True`. Is this a bug or a compilation issue?

[2021-12-21 14:08] lgarrison commented on #269
Wow, that's pretty unusual! Glad it's working. I see you were running with Python in unbuffered mode with `python -u $CODE`, does `verbose=True` work if you remove the `-u`?

I will note we've seen one other instance of `verbose` causing problems here: #224, but it still seems to be a rare problem.

[2021-12-21 15:27] valerio-marra commented on #269
@lgarrison if i remove `-u` it does work, although it updates the log file with low cadence and, actually, it does not print the info that `verbose=True` usually prints, that is, it is as if i set `verbose=False`. Does `verbose=True` work only in interactive mode?

Should I fix the binutils bug to increase performance? I'll run my code on hundreds of snapshots.

[2021-12-21 18:51] lgarrison commented on #269
Okay, I think I might understand the root cause here. It's probably this issue: https://github.com/minrk/wurlitzer/issues/20

Specifically, we're filling up some buffer (or perhaps even blocking while trying to do an unbuffered write), but the code that drains the buffer (in Wurlitzer) is at the Python level. And that code can't run because we don't release the GIL when we call into Corrfunc.

I'l

[2021-12-21 20:26] lgarrison commented on #269
Oops, actually we are releasing the GIL.  In which case I'm not exactly sure what's happening.  Will investigate...

[2021-12-21 21:48] lgarrison commented on #269
Hi @valerio-marra, can you please check if PR #270 fixes your issue? Just test your same code on the `fix-std-redir` branch.

[2021-12-22 13:47] valerio-marra commented on #269
hi @lgarrison, it works! Now the verbose output is printed into the slurm job's standard error.

Regarding binutils/AVX-512, is it necessary to create e new environment? also, shouldn't there be a `make` before pip in [#196 (comment)](https://github.com/manodeep/Corrfunc/pull/196#issuecomment-837241751)?

[2021-12-22 14:55] lgarrison commented on #269
It probably has the best chance of success in a new environment (and it has the least chance of disrupting any of your other work that uses an existing environment).

Pip runs make behind the scenes, so an explicit make is not necessary.

[2021-12-22 14:56] lgarrison commented on #269
And thanks very much for confirming the fix! @manodeep, when you have a chance could you please review #270? Then we can close this issue.

[2022-01-30 14:02] adematti opened #271 "separation average"
Currently the separation average in each bin (thetaavg, ravg, savg, rpavg) is computed *without* taking weights into account.
I think, for usual purposes, we would like to include weights (when provided) in this computation?
Typically, we would expect the same average separation, whether a galaxy is weighted by 0 or is totally removed from the catalog.
It would always be possible, for someone trul

[2022-01-30 14:13] lgarrison commented on #271
Yes, I think you're right! Everything should be computed using the weights. Would you like to open a PR?

[2022-01-30 22:22] manodeep commented on #271
@adematti Do you need the weighted average separations for your Science case or is this more of a consistency/implementation choice question?

@lgarrison We had a long discussion about this when you first started implementing the weights within Corrfunc. We came to the conclusion that it was better to leave the average separations as is - since that would be the most likely use-case. And that if a

[2022-01-30 22:54] adematti commented on #271
@manodeep well, I'd think the weighted version would be the most intuitive convention for the separation average ; this is the definition we will use in DESI --- though we will most certainly make sure cosmological results do not depend on this choice.
In case one'd not want the weighted-average version, it would be straightforward to recompute the pair counts without weights.

Anyway, it's just f

[2022-02-02 19:25] manodeep commented on #271
Alright great - as always I prefer to add a user-option that allows either weighted or unweighted average separations. Would the plan be the same - provide the default PAIR_PRODUCT weighted average for separations? And anything else the user has to code those up?

Regardless, if we do change the behaviour, we should try to keep backwards compatibility by default. That way this is not a breaking ch

[2022-02-02 19:26] #269 closed

[2022-02-03 14:53] lgarrison commented on #271
Yeah, we already have an `output_ravg` field that we normally set to `True`, but we could allow the user to set that to the string `'weighted'` instead. Then the average separation would just inherit whatever weighting scheme the user is using.

[2022-02-03 14:59] adematti commented on #271
To me this seems like a good idea.
I had weighted average separation implemented upon the current master version in https://github.com/adematti/Corrfunc/tree/separation-avg. Yet, this branch does not allow for the option that you suggest for output_ravg and some things would need to be modified if https://github.com/manodeep/Corrfunc/pull/258 is accepted.

[2022-02-03 21:09] ziarriall opened #272 "ld: library not found for -liomp5 when installing"
I try to install Corrfunc on macos Big sur.
With all dependencies installed, after git clone and make install, I get the following error:

[code]

I guess the problem is the library should be libomp5, instead of liomp5?
But I couldn't find where to change it so couldn't confirm this.
Any comment would be very helpful.

[2022-02-03 21:12] lgarrison commented on #272
@manodeep I'll leave this to you as I'm pretty useless at Mac!

@ziarriall I've lightly edited your comment for formatting

[2022-04-07 05:07] manodeep commented on #272
Ohh crap - totally missed this one!

@ziarriall Did you manage to find a work-around?

[2022-04-07 05:11] manodeep commented on #272
I have not encountered `clang-omp` in quite a few years now - but these are the [two relevant lines](https://github.com/manodeep/Corrfunc/blob/master/common.mk#L266-L267) that would need to be commented out/changed

[2022-04-07 12:39] shanquan-gui commented on #227
@Richard-Sti
How could you fix this issue? Could you try explain it a bit further or with a python code? I have the same issue, but I do not know how to fix it .

[2022-04-07 13:35] lgarrison commented on #227
Hi @shanquan-gui , this issue was fixed in Corrfunc v2.4.  If you're still having problems, feel free to open a new issue, and we'll be happy to help.

[2022-05-08 16:58] pribamello opened #273 "DDsmu and DDsmu_mocks give different results"
## General information

- Corrfunc version: 2.4.0
- platform: Ubuntu 22.04 LTS
- installation method: pip

## Issue description
When using "DDsmu" and "DDsmu_mocks" to compute counts on the same set of particles, but with different coordinate systems, results are different.

## Minimal failing example
https://github.com/pribamello/Correlation-Function

[2022-05-09 02:07] manodeep commented on #273
Hey @pribamello - thanks for using Corrfunc and for reporting the issue.

In order to use `x, y, z` in the inputs to `DDtheta_mocks`, you have to pass `x, y, z` and also set `is_comoving_dist=True`. Looks like you are setting `is_comoving_dist` but passing `ra, dec, cz` (instead of `x, y, z`).

My expectation is to get similar results when passing `x, y, z` to both `theory/DDsmu` (`periodic=False`

[2022-05-09 11:25] pribamello commented on #273
Hi @manodeep - thank you for the response.
In the documentation page for `DDsu_mocks`, the arguments are passed as `(r, ra, dec)`. When I try to pass `(x, y, z)` instead, an error is raised.

[2022-05-09 23:16] manodeep commented on #273
You are totally right - oops!

Just to be clear - those two results would still not be identical anyway - the projections are defined in a different manner. I am curious - is this related to any Science use-case that you have?

[2022-05-10 09:50] pribamello commented on #273
Makes sense, considering the diferences in projection. Yes! For now, I'm trying to recover the multipoles from a set of mock simulations from Pinocchio code.

[2022-05-11 03:03] misharash opened #274 "cz vs z check and fixing by speed of light on comoving distances"
## General information

- Corrfunc version: 2.4.0
- platform: GNU/Linux
- installation method: pip

but I'm pretty sure the issue is general.

## Issue description
I am using `Corrfunc.mocks.DDsmu_mocks.DDsmu_mocks` in python with `is_comoving_dist=True`.

### Expected behavior
No cz vs z check and no multiplication by speed of light when `is_comoving_dist=True`.

### Actual behavior
I am getting

[2022-05-11 04:08] manodeep commented on #274
Good catch! Wonder if this is related to #273?

A similar "feature" should also exist for `DDrppi_mocks` - do you mind applying the fix there as well?

[2022-05-11 04:31] misharash commented on #274
Sure. Indeed `DDrppi_mocks` was pretty much the same. Correction for that is now also included in #275.

#273 doesn't seem related - distance values in example there are large so correction shouldn't be invoked. This thing I noticed is very particular and probably won't make real difference for any correct data, mine just happened to be messed up.

[2022-05-13 15:25] #273 closed

[2022-05-18 00:50] #274 closed

[2022-05-31 10:39] ziarriall commented on #272
Sorry for the late reply. I changed the line 267 to -Lmypathtolib -lomp, now it works. Thanks a lot.

[2022-08-11 17:43] patogallardo commented on #202
Related to this question.

If you go to the link below in the docs, the first parenthesis states: (speed of light times redshift, in Mpc/h).

Is this a mistake? I think it should read "speed of light in km/s times z", based in the discussion above.

Thank you!

https://corrfunc.readthedocs.io/en/master/python-interface.html?highlight=cz#calculating-2-d-pair-counts-corrfunc-mocks-ddsmu-mocks

[2022-08-26 14:48] JonLoveday opened #279 "test failure after pip install"
I just did pip install Corrfunc without problems.  However, the tests fail:

[code]

[2022-08-26 15:04] lgarrison commented on #279
Thanks for the report!  Just to confirm, it looks like this is on a Mac? Can you provide your operating system version?

Usually a shared library issue like this happens when Corrfunc is installed in an environment where a library is available (GSL, in this case) and is then executed in a different environment where that library is not available. So you might want to double-check that you are inst

[2022-08-26 15:15] JonLoveday commented on #279
MacOS 12.5

I think I've only got one conda environment (a fresh install on a new machine), and a new install of gsl 2.7 (make installcheck gave no errors).

[2022-08-26 15:34] lgarrison commented on #279
Corrfunc finds GSL via the `gsl-config` executable e.g. [here](https://github.com/manodeep/Corrfunc/blob/1701264bec6e860425fdaa471b861b88d22cdba6/common.mk#L188). If you use `gsl-config --prefix`, does it show the GSL that you installed?

[2022-08-26 15:49] JonLoveday commented on #279
Seems OK:

[code]

[2022-08-26 16:10] lgarrison commented on #279
I agree, looks okay.  You might try installing from source, although I'm not sure why that would be different.  You might also try `export DYLD_LIBRARY_PATH=/usr/local/lib:$DYLD_LIBRARY_PATH` (or Mac equivalent), although I would have thought that path would already be there.

@manodeep, can you take a look at this when you get the chance?  A quick search brings up this (old) post which suggests t

[2022-08-26 22:52] manodeep commented on #279
@JonLoveday If you just want to fix the issue, then the fastest way would be to uninstall Corrfunc, install gsl through conda (conda install -c conda-forge gsl), and then re-install Corrfunc (python -m pip install Corrfunc).

If you want to debug what’s going, then I would first uninstall Corrfunc, and then install Corrfunc from source (ie git clone https://github.com/manodeep/Corrfunc) and then c

[2022-08-30 03:54] manodeep commented on #202
@patogallardo Took me a while to get to but looks like the documentation is correct - [these lines](https://github.com/manodeep/Corrfunc/blob/master/utils/set_cosmology.c#L46-L87) do the distance calculation. Particularly, [these two lines](https://github.com/manodeep/Corrfunc/blob/master/utils/set_cosmology.c#L64-L65) effectively multiply the integral with `c/H0`, and that produces `d` in co-movi

[2022-08-30 08:59] JonLoveday commented on #279
Many thanks Manodeep.  Reinstalling gsl via conda did the trick, and was much faster than installing from source.
Cheers, Jon

[2022-08-31 01:52] manodeep commented on #279
Great - glad that the issue got sorted!

[2022-08-31 01:52] #279 closed

[2022-09-30 06:35] manodeep commented on #272
Looks like this was resolved

[2022-09-30 06:35] #272 closed

[2022-10-17 13:55] Nestak2 opened #281 "Can't install Corrfunc on google colab"
## General information

- Corrfunc version: 2.4.0, I guess, see error message below
- platform: Google colab
- installation method (pip/source/other?): pip install Corrfunc

## Issue description
I tried to install Corrfunc in google colab notebook  with
`!pip install Corrfunc`
and this leads to the error below
![Screenshot from 2022-10-17 14-47-51](https://user-images.githubusercontent.com/1619355

[2022-10-17 14:19] lgarrison commented on #281
Colab doesn't come with GSL pre-installed.  Please try "!apt install
libgsl-dev".  (You can tell this is a GSL error with "!pip install
--verbose corrfunc")

On Mon, Oct 17, 2022 at 9:55 AM Nestor Arsenov ***@***.***>
wrote:

--
Lehman Garrison
Software Engineer
Scientific Computing Core, Flatiron Institute
lgarrison.github.io

[2022-10-17 15:51] #281 closed

[2022-11-05 11:54] manodeep opened #283 "pytest fails on local supercomputer (Skylake cpus)"
## General information

- Corrfunc version:2.4.0
- platform:linux
- installation method (pip/source/other?):git

## Issue description
Cloned a fresh repo on local supercomputer with Skylake cpus and installed with `python -m pip install -e .` and then ran `pytest -v`

### Expected behavior
Tests should pass

### Actual behavior
Most tests failed, there were only a handful of tests that seemed to p

[2022-11-05 12:33] lgarrison commented on #283
This is on `master` branch, right? What's the failure mode of the tests---wrong pair counts, wrong weights, crashing, etc? Is it worth sharing the test output in case there's a pattern to which ones fail?

[2022-11-05 13:21] manodeep commented on #283
Good point! Here is the log from before (not from the fresh one, but should be the same)
[Corrfunc_master_pytest.log](https://github.com/manodeep/Corrfunc/files/9943913/Corrfunc_master_pytest.log)

[2022-11-05 13:28] lgarrison commented on #283
None of the failures are single-threaded, so it's probably an OpenMP library issue. Maybe the same one from here? https://github.com/manodeep/Corrfunc/pull/258#issuecomment-966474906

[2022-11-17 05:44] misharash commented on #241
The updates from the previous comment do help to get the code built and installed. I wonder if a bit more systematic fix will be possible?

[2022-11-17 05:53] misharash opened #284 "Custom compiler instruction for pip does not work"
## General information

- Corrfunc version: 2.4.0
- platform: MacOS 13.0.1
- installation method: source

## Issue description

When I run `python -m pip install . CC=/opt/homebrew/opt/llvm/bin/clang --user` in the code directory as suggested in `README`, an error appears.

### Expected behavior

Code builds

### Actual behavior

[code]

### What have you tried so far?

Setting `CC := /opt/homebre

[2022-11-17 11:09] manodeep commented on #284
@misharash Thanks for the report. The syntax you are using works if you install with `python setup.py install ...`. If you install with `pip`, then you have to use the syntax `python -m pip install --install-option="CC=/opt/homebrew/opt/llvm/bin/clang"  ...`. This should fix the issue you are seeing

[2022-11-17 11:10] manodeep commented on #241
@misharash You might be interested in the initial implementation for the M1 architecture within the `arm64` branch on this repo

[2022-11-17 14:08] lgarrison commented on #241
Right, the `arm64` branch (PR [here](https://github.com/manodeep/Corrfunc/pull/280)) works on the M1 with both fallback and NEON kernels.  So you can just use that branch instead of patching your source with the previous code.

@manodeep can confirm, but the fallback kernel from that branch should definitely be safe to use. It sounds like the NEON kernel is working too, but is less tested.

[2022-11-17 17:58] misharash commented on #241
Thank you! Initially it wasn't clear that the NEON pull request was related to Apple Silicon support.